{% load static %}
<div class="panel-body" id="id_panel_body">
    <div class="event-list-wrap">
        <form action="." id="image_form" method="post" enctype="multipart/form-data"  >
            <div class="col-md-12">
                <h1>Edit Profile</h1>
                <h4><a href="javascript:$('#image_form').submit();" id="id_save_profile" class="pull-right" style="margin-top: -35px;" class="pull-right">Save</a></h4>
            </div>
            <div class="">
                {#            <img src="{% static "images/options/dummyPic.png" %}" />#}

                <img src="{{ u.get_image_url }}" />
{#                <input type="file" id="image" name="image"/>#}
                {{ form.image }}
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <label>First Name</label>
{#                <input type="text" class="form-control" id="edit_full_name" value="{{ u.user.get_full_name }}" name="edit_full_name"/>#}
                {{ form.first_name }}

            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <label>Last Name</label>
{#                <input type="text" class="form-control" id="edit_full_name" value="{{ u.user.get_full_name }}" name="edit_full_name"/>#}
                {{ form.last_name }}

            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <label>Role</label>
{#                <input type="text" class="form-control" value="{{ u.profession }}" id="edit_role" name="edit_role"/>#}
                {{ form.profession }}

            </div>
{#            <div class="col-md-12" style="margin-top:20px;">#}
{#                <label>Email</label>#}
{#                <input type="email" class="form-control" value="{{ u.user.email }}" id="edit_email" name="edit_email"/>#}
{##}
                <input name="profile_edit_form_singal" hidden />
{#            </div>#}
            <div class="col-md-12" style="margin-top:20px;">
                <label>Phone</label>
{#                <input type="text" class="form-control" value="{{ u.phone }}" id="edit_phone" name="edit_phone"/>#}
                {{ form.phone }}

            </div>
        </form>

    </div>

</div>


<script>
    $('#image_form').on('submit',function(e){
        e.preventDefault();
        var formData = new FormData(this);
{#        alert('submitting')#}
{#        console.log('edit: ', $("#edit_full_name").val(),$("#edit_image").val().split('\\').pop().replace('-') )#}
{#        var data = {#}
{#            'full_name': $("#edit_full_name").val(),#}
{#            'email':$("#edit_email").val(),#}
{#            'role':$("#edit_role").val(),#}
{#            'phone':$("#edit_phone").val(),#}
{#            'edit_image' : $("#edit_image").val().split('\\').pop().replace('-'),#}
{#            'action':'edit_profile'#}
{#        }#}
{#        var data2 = $('#image_form').serialize()#}
{#        var d = {#}
{#            'data':data,#}
{#            'data2':data2#}
{#        }#}
{#        console.log('form: ', data2)#}
        $.ajax({
            url: '/bg/profile/',
            type: "POST",
{#            enctype: 'multipart/form-data',#}
{#            dataType: "JSON",#}
            data: formData,
{#            contentType: false,#}
            cache: false,
            processData:false,
{#            processData: false,#}
            contentType: false,
            success: function (response) {
{#                alert('submitting 2')#}
                $("#id_card").html(response);
{#                window.location.href = "/bg/profile/";#}

            },
            error: function(error) {
                console.log("error: ", error);

                return error
            }
        });


    })
</script>