{% load static %}
<div class="panel-body" id="id_panel_body" style="width: 500px;">
    <div class="event-list-wrap">
        <div class="col-md-12">
            <div >
                <h1>Feedback Success</h1>
{#                <h4><a href="#" id="id_send" style="margin-top: -35px;" class="pull-right">Send</a></h4>#}


            </div>

            <div class="col-md-12">
                Thank you for your Feedback we will try to improve our services

            </div>

        </div>


    </div>

</div>
