{% load static %}
<div class="panel-body" id="id_panel_body" style="width: 500px;">
    <div class="event-list-wrap">
        <div class="col-md-12">
            <div >
                <!-- event name -->
                <h1>Set a Password</h1>
            </div>

            <div class="col-md-12">
                <label>{{ u.user.email }}</label>
                <br />

                <input type="password" placeholder="Password" class="form-control" id="id_password" name="password"/>

                <div>

                    <small id="password_errors">Your password should be 6 characters or longer</small>
                </div>
                <label>I agree the Yapjoy Terms  of Services and Privacy Policy</label>
                <div class="form-group">
                    <button class="btn btn-block btn-yapjoy-blue" id="id_signup">Sign Up </button>
                </div>

            </div>


        </div>


    </div>

</div>
<script>

    $("#id_signup").click(function (e) {

        var password = $("input[name='password']").val().length;

        if (password < 6 ){
            $("#password_errors").css('color','red');
            return false;
        }else{
            var data = {
                'password': $("input[name='password']").val(),
                'email': '{{ u.user.email }}',
                'action':'set_password'
            }
            ajax_call('/family_share_link/'+ '{{ event.family_ref_code }}' +'/', "POST", data).done(function( data ) {
                console.log('error: ', data['error'])
                $("#id_card").html(data);

            });
        }
    });

</script>