{% extends 'bayareaweddingfairs/site/base/base_inner_layout.html' %}
{% load static %}
{% load myfilters %}

{% block title %}
    TICKETS & REGISTRATION
{% endblock title %}

{% block css_links %}
{#    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>#}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link href="{% static "bawf/css/forms.css" %}" rel="stylesheet">
    <style>
        .white {
            color: white;
        }
    </style>
    <style>
        .red {
            color: red;
        }

        textarea {
            height: 30px;
        }

        ul li {
            display: inline;
            margin-right: 15px;
        }

        .categories-css ul {
            margin-left: -40px;
        }

    </style>
{% endblock css_links %}

{% block content %}

    <!-- WRAPPER -->
    <div class="wrapper">

        <section class="page-title-parallax fullscreen" style="background-color: #CCCCCC;">
            <div class="container container-fullscreen">
                <div class="text-middle">
                     <form  id="id_form_reg" action="." method="post"
                                  role="form">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 p-30 background-white">
                            <div class="col-md-12 m-t-20 text-center">
                                <h3>Pre-Registration is required
                                    for attending bride and groom</h3>
                                <p>(Registration or Ticket Sales Is Not Allowed At The
                                    Show)</p>



                            </div>
                            <div class="col-md-12 m-t-10 text-center">
                                <h4 style="display:inline-block;">Already
                                    Registered?</h4>
                                <a style="margin-left:10px;display:inline-block;"
                                   class="btn btn-primary"
                                   href="{% url "index__bride_groom_ticket" %}">
                                    BUY TICKET </a>
                                <br />
                                <h4 style="display:inline-block;margin-top:10px;color: #26B8F3;">Click to find discounted tickets</h4>
                                 <div class="hr-title hr-long center"><abbr>Registration Form</abbr> </div>
                            </div>
{#                            <div class="col-sm-12 form-group">#}
                                <div class="col-md-12 form-group">
                                    <div class="form-group">
                                        &nbsp;<b> Wedding Fair(s)
                                        Interested In (Please
                                        Select)<b style="color:red">*</b></b>
                                        {% for event in all_events %}
                                        {% include "vendroid/CRM/_season_events.html" %}
                                    {% endfor %}
                                    {% if eventsCheck %}
                                        <div class="red">Please
                                            select at least one
                                            event
                                        </div>
                                    {% endif %}
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
{#                            </div>#}

                            <div class="col-md-6 form-group">
                                {#                                <label class="sr-only">First Name</label>#}
                                {{ form.firstName|addcss:"form-control input-lg" }}
                                <div class="red" id="error"></div>
                                {% if form.firstName.errors %}
                                    <div class="red">{{ form.firstName.errors.0 }}</div>
                                {% endif %}
                            </div><div class="col-md-6 form-group">
                            {#                            <label class="sr-only">Last Name</label>#}
                            {{ form.lastName|addcss:"form-control input-lg" }}
                            <div id="error_lastname" class="red"></div>
                            {% if form.lastName.errors %}
                                <div class="red">
                                    {{ form.lastName.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                            <div class="col-md-6 form-group">
                                {#                                <label class="sr-only">Username</label>#}
                                {{ form.city|addcss:"form-control input-lg" }}
                                <div id="error_city" class="red"></div>
                                {% if form.city.errors %}
                                    <div class="red">
                                        {{ form.city.errors.0 }}
                                    </div>
                                {% endif %}
                            </div><div class="col-md-6 form-group">
                            {#                            <label class="sr-only">Password</label>#}
                            {{ form.zip|addcss:"form-control input-lg" }}
                            <div id="error_zip" class="red"></div>
                            {% if form.zip.errors %}
                                <div class="red">{{ form.zip.errors.0 }}</div>
                            {% endif %}

                        </div>

                            <div class="col-md-6 form-group">
                                {{ form.email|addcss:"form-control input-lg" }}
                                {% if form.email.errors %}
                                    <div class="red">{{ form.email.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.phone|addcss:"form-control input-lg" }}
                                <div id="error_phone" class="red"></div>
                                {% if form.phone.errors %}
                                    <div class="red">{{ form.phone.errors.0 }}</div>{% endif %}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.weddingDate|addcss:"form-control input-lg" }}
                                {% if form.weddingDate.errors %}
                                    <div class="red">
                                        {{ form.weddingDate.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="form-control input-lg"
                                        id="id_how_heard"
                                        name="how_heard">
                                    <option value="">How did you hear about us?
                                    </option>
                                    <option {% if how_heard == "Facebook" %}selected{% endif %} value="Facebook">
                                        Facebook
                                    </option>
                                    <option {% if how_heard == "Radio" %}selected{% endif %} value="Radio">
                                        Radio
                                    </option>
                                    <option {% if how_heard == "TheKnot" %}selected{% endif %} value="TheKnot">
                                        TheKnot
                                    </option>
                                    <option {% if how_heard == "Google" %}selected{% endif %} value="Google">
                                        Google
                                    </option>
                                    <option {% if how_heard == "Here comes the guide" %}selected{% endif %} value="Here comes the guide">
                                        Here comes the guide
                                    </option>
                                    <option {% if how_heard == "Friends & Family" %}selected{% endif %} value="Friends &amp; Family">
                                        Friends &amp; Family
                                    </option>
                                    <option {% if how_heard == "Other" %}selected{% endif %} value="Other">
                                        Other
                                    </option>
                                </select>
                                {% if form.how_heard.errors %}
                                    <div class="red">{{ form.how_heard.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <b>Wedding Professionals You Are
                                                            Interested in?</b>
                                                        <br/>
                                                        {{ form.categories }}
                                                        {% if form.categories.errors %}
                                                            <div class="red">{{ form.categories.errors }}</div>
                                                        {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                 <b>Comments</b>
                                                        <div class="">
                                                            {{ form.comments|addcss:"form-control input-lg" }}
                                                            {% if form.comments.errors %}
                                                                <div class="red">{{ form.comments.errors }}</div>
                                                            {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <p style="font-size:20px;color:grey;">
                                                <label> By clicking Submit button, you agree to our <a href="{% url "index__PrivacyPolicy" %}" target="_blank" style="color: #337ab7;">Privacy Policy</a></label>
                                            </p>
                                <div class="text-center">
                                    <button style="margin-top:15px;" class="btn btn-primary" type="submit">SUBMIT</button>
                                </div>


                        </div>


                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                     </form>
            </div>
        </section>

    </div>
    <!-- END: WRAPPER -->
    <!-- GO TOP BUTTON -->
{% endblock content %}
{% block jquery_links %}
{#        <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>#}
{#    <script type="text/plain"#}
{#            src="https://raw.githubusercontent.com/igorescobar/jQuery-Mask-Plugin/master/src/jquery.mask.js"></script>#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% endblock jquery_links %}
{% block jquery_page_scripts %}


    <script>
        $(function () {
            $('#id_weddingDate').datepicker();
            $('#id_weddingDate').data('inline', true);
            $('#id_phone').mask('(000) 000-0000');
        });
    </script>
    <script>
        var charReg = /^\s*[a-zA-Z0-9,\s]+\s*$/;
        var numberReg = /^\s*[0-9,\s]+\s*$/;
        $('#id_firstName').keyup(function () {
            var inputVal = $(this).val();
            if (!charReg.test(inputVal)) {
                $("#error").html('No Special Characters Allowed')
            }else{
                $("#error").html('')
            }

        });
        $('#id_lastName').keyup(function () {
            var inputVal = $(this).val();
            if (!charReg.test(inputVal)) {
                $("#error_lastname").html('No Special Characters Allowed')
            }else{
                $("#error_lastname").html('')
            }

        });
        $('#id_city').keyup(function () {
            var inputVal = $(this).val();
            if (!charReg.test(inputVal)) {
                $("#error_city").html('No Special Characters Allowed')
            }else{
                $("#error_city").html('')
            }
        });
        $('#id_comments').keyup(function () {
            var inputVal = $(this).val();
            if (!charReg.test(inputVal)) {
                $("#error_comments").html('No Special Characters Allowed')
            }else{
                $("#error_comments").html('')
            }
        });
        $('#id_zip').keyup(function () {
            var inputVal = $(this).val();
            if (!numberReg.test(inputVal)) {
                $("#error_zip").html('Only Numbers are allowed')
            } else {
                $("#error_zip").html('')
            }
        });
        $('#id_phone').keyup(function () {
            var inputVal = $(this).val();
            if (!inputVal) {
                $("#error_phone").html('Phone no is required')
            } else {
                $("#error_phone").html('')
            }
        });
        $("#id_form_reg").submit(function (e) {
            var first_name = $('#id_firstName').val();
            var last_name = $("#id_lastName").val();
            var city = $("#id_city").val();
            var comments = $("#id_comments").val();
            var zip = $("#id_zip").val();
            var phone = $("#id_phone").val();
            if (first_name != ''){
                if (!charReg.test(first_name)) {
                    $("#error").html('No Special Characters Allowed');
{#                    return false#}
                }
            }
            else{
                $("#error").html('Please Enter First Name');
{#                return false#}
            }
            if (last_name != ''){
                if (!charReg.test(last_name)) {
                    $("#error_lastname").html('No Special Characters Allowed');
{#                    return false;#}
                }
            }else{
                $("#error_lastname").html('Please Enter Last Name');
{#                return false#}
            }
            if (city != ''){
                if (!charReg.test(city)) {
                    $("#error_city").html('No Special Characters Allowed');
{#                    return false#}
                }
            }else{
                $("#error_city").html('Please Enter City');
{#                return false#}
            }
{#            if (comments != ''){#}
{#                if (!charReg.test(comments)) {#}
{#                    $("#error_comments").html('No Special Characters Allowed');#}
{#                    return false#}
{#                }#}
{#            }#}
            if (zip != ''){
                if (!numberReg.test(zip)) {
                    $("#error_zip").html('Only Numbers are allowed')
{#                    return false#}
                }
            }else{
                $("#error_zip").html('Please Enter Zip');
{#                return false#}
            }
            if(phone == ''){
                $("#error_phone").html('Please Enter the Phone Number');
{#                return false;#}
            }
            if(phone == '' | zip == '' | city == '' | last_name == '' | first_name == ''){
                return false
            }
            return true

        });
    </script>
    <script>
    $('#id_comments').attr('cols','20')
    </script>
{% endblock jquery_page_scripts %}