{% extends "vendroid/base.html" %}
{% load pagination_tags %}
{% load static %}
{% load myfilters %}
{% load humanize %}
{% block content %}
{#    <script src="{% static "js/bootstrap.min.js" %}"></script>#}
{#    <script src="{% static "js/jquery-ui.min.js" %}"></script>#}
{##}
{#    <script src="{% static "vendroid/plugins/daterangepicker/daterangepicker.js" %}"></script>#}
    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>
    <link href={% static "css/chosen.css" %} rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <script>
    $(function () {
            $('#id_wedding_date').datepicker();
{#            $("#id_wedding_date").datetimepicker({#}
{#             'showTimepicker': false,#}
{#            });#}
        });
    </script>

{#    <link href="{% static "vendroid/plugins/tagsInput/jquery.tagsinput.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/bootstrap-switch/bootstrap-switch.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/colorpicker/css/colorpicker.css" %}" rel="stylesheet" type="text/css">#}


<!-- Specific Page Scripts Put Here -->

<script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
    <style>
    .red {
        color: red;
    }
    textarea {
        height: 80px;
    }
    .btn-brown {
        background-color: #ba8c00 !important;
    }
    </style>
    <div class="vd_body">
        <!-- Header Start -->
       {% include "vendroid/partial/_header.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

               <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">

          <!-- vd_head-section -->

          <div class="clearfix">

          <!-- vd_title-section -->

          <div class="vd_content-section clearfix">

            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-body">
{#                    <h2>Nav <span class="font-semibold">Tabs</span></h2>#}
{#                    <ul class="nav nav-tabs">#}
{##}
{##}
{#                    </ul>#}
                    <br>
                    <div class="tab-content mgbt-xs-20">
                         {% if successMessage %}
                    <div class="flashes">
                        <div class="alert alert-success">{{ successMessage }}</div>
                    </div>
                    {% endif %}
                      <div class="tab-pane active" id="privacy">
                          <div class="col-md-12 text-center">
                              <img src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/logo-new-02.png" width="20%" /><br />
                              <div class="clearfix"></div>
                              <br />
                              <h3 style="color: #ba8c00;">INVOICES</h3>
{#                              <img src="http://bayareaweddingfairs.com/wp-content/themes/wedding-wp/images/rose/floral.png"  />#}
                              <hr />

                          </div>
                          <div class="col-md-12">
                              <div class="row">
{#                                  <div class="col-md-12">#}
{#                                      <a class="btn vd_btn pull-right btn-brown" href="/crm/invoices/create/{{ id }}/" style="margin-bottom: 20px;">Add an invoice</a>#}
{#                                  </div>#}
                                  <div class="col-md-12">
                                      <div class="panel-heading vd_bg-grey">
                                        <h3 class="panel-title text-center"> <span class="menu-icon">  </span> Event Invoices</h3>
                                      </div>
                                      <div class="panel-body table-responsive">
                                          <div class="dataTables_wrapper form-inline no-footer"
                                               id="data-tables_wrapper">
                                         {% if invoices %}
                                              <table aria-describedby="data-tables_info" role="grid"
                                                     class="table table-striped dataTable no-footer" id="data-tables">
                                                  <thead>
                                                  <tr role="row">
                                                      <th>Invoice ID
                                                      </th>
                                                      <th>Event
                                                      </th>
                                                      <th>
                                                          Business Nmae
                                                      </th>
                                                      <th>
                                                          Event Date
                                                      </th>
                                                      <th>
                                                          Registration Date
                                                      </th>
                                                      <th>Terms and Conditions</th>
                                                      <th>
                                                          Status
                                                      </th>
                                                      <th>
                                                          Amount
                                                      </th>
                                                      <th>
                                                          Invoices
                                                      </th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>

                                                  {% for invoice in invoices %}
                                                      <tr role="row" class="gradeA odd">
                                                          <td>{{ invoice.id }}</td>
                                                          <td>{{ invoice.registered_event.event.name }}</td>
                                                          <td>{{ invoice.registered_event.business_name }}</td>
                                                          <td>{{ invoice.registered_event.event.date }}</td>
                                                          <td>{{ invoice.registered_event.created_at }}</td>
                                                          <td>{% if invoice.is_signed %}Accepted{% else %}Not Accepted{% endif %}</td>
                                                          <td>{{ invoice.status }}</td>

                                                          <td>${{ invoice.amount|intcomma }}</td>
{#                                                          <td><a data-toggle="modal" href="{% url "invoices_view_pay" invoice.id %}" o class="btn vd_btn btn-brown">View Invoice</a></td>#}
                                                          {% if not invoice.is_signed %}
                                                              <td><a onclick="openInvoiceModal('{{ invoice.id }}');" class="btn vd_btn btn-brown btn-block">Accept</a></td>
                                                          {% else %}
                                                              <td><a href="{% url "invoices_pay_bulk" invoice.id %}" class="btn vd_btn btn-brown btn-block">View Invoice</a></td>
                                                          {% endif %}
                                                      </tr>
                                                  {% endfor %}

                                                  </tbody>
                                              </table>
                                          {% else %}
                                                      <p class="text-center">NO INVOICES AVAILABLE</p>
                                                  {% endif %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          </div>

                      </div>
                    </div>
                    <br><br>









                  </div>
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-6 -->

            </div>
            <!-- row -->

          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->

        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>

    <!-- Modal -->
    <div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="Agreement" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header vd_bg-blue vd_white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Bay Area Wedding fairs Agreement</h4>
                </div>
                <div class="modal-body">
                    <h3 class="text-center">Terms and Conditions</h3>
                    <h4>Deposits & Payments</h4>
                    <p>A deposit is required to hold a space in any Bay Area Wedding Fairs (BAWF) trade shows. All deposits are Non-Refundable
                    and Final. If you signed for multiple shows, deposits for all contracted shows must be received to hold space.</p>
                     <h4>Cancellations and Refunds</h4>
                    <p>Deposits are non refundable. If cancelled within 30 days of the show, full balance is due. If a Fashion Show sponsor or Stage
                    Services Provider cancels, the list price is due. To recieve the Brides'/Grooms' List, you must be present at the entire show.</p>
                     <h4>Confidentiality Agreement</h4>
                    <p>Booth pricing is category specific. This contract is a confidential document between BAWF and the exhibitor. A breach of the
                    contract confidentiality agreement will result in this contract reverting to list price.</p>
                     <h4>Booth Staffing & Operations</h4>
                    <p>The booth must be staffed throughout the duration of the show. The booth can not be shared. Displaying advertisements for
                    business not listed on this contract is prohibited. Promoting your business outside the boundary of your assigned booth is not
                    allowed. Intoxication during the show hours is also not permitted. Refusal to comply with these terms will result in removal
                    from the show without refund.</p>
                     <h4>Setup</h4>
                    <p>Booth placements are entire discretion of BAWF. Booths are to be completely set-up 30 minutes prior to the start of the show.
                    Late arrival will result in loss of booth space without refund. No pricing displayed on banners, backdrops, and posters allowed.</p>
                     <h4>Tear Down</h4>
                    <p>Tear down prior to the end of the show will result in  $100 fee. Tear must start as soon as the show ends and must be
                    completed within an hour.</p>
                     <h4>BAWF Rights, Indemnities and Limitations</h4>
                    <p>All exhibitors must adhere completely by these terms and conditions and our policies and procedures at all times. Anyone not adhering to
                        these terms will be asked to leave our shows immediately without refund. The exhibitor agrees to indemnify and hold
                        harmless BAWF and BAWF assumes no liability, and offers no compensation of any kind for injury or loss or personal
                        or property damage as a result of participating in this (or any) show. Exhibitors agree to use
                        their own Business Liability Insurance for remedy in such cases. BAWF reserves all these above rights at all times.</p>

                </div>
                <div class="modal-footer background-login">
{#                    <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">Close</button>#}
                    <form action="." method="post">
                        {% csrf_token %}
                        <input id="invoice_id" hidden name="invoice_id" />
                    <button type="submit" class="btn vd_btn vd_bg-green" >I Agree</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

  <script src="{% static "js/chosen.jquery.min.js" %}"></script>

    <script type="text/javascript">

        {% if invoice_id %}
            $(document).ready(function(){
                $('#invoice_id').val('{{ invoice_id }}');
                $('#agreement').modal('show');
            })
        {% endif %}

        function openInvoiceModal(id){
            $('#invoice_id').val(id);
            $('#agreement').modal('show');

        }
    </script>


{% endblock content %}
{% block script %}



{% endblock script %}