{% extends "vendroid/base_bawf.html" %}
{% load pagination_tags %}
{% load static %}
{% load myfilters %}
{% load humanize %}
{% block content %}
    <style>
        {#  th{#}
        {#    font-size: 15px;#}
        {#  }#}
        {#  td{#}
        {#    font-size: 10px;#}
        {#    word-break: break-all;#}
        {#  }#}

        .pagination{
            font-size:15px;
        }

        .dataTables_wrapper{
        {#    width: 200px !important;#}
        {#    max-width:200px;#}
            overflow-x: scroll;
        }
    </style>
    {#    <script src="{% static "js/bootstrap.min.js" %}"></script>#}
    {#    <script src="{% static "js/jquery-ui.min.js" %}"></script>#}
    {##}
    {#    <script src="{% static "vendroid/plugins/daterangepicker/daterangepicker.js" %}"></script>#}
    {#    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>#}
    {#    <link href={% static "css/chosen.css" %} rel="stylesheet" type="text/css" media="all"/>#}
    {#    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>#}
    {#    <script>#}
    {#    $(function () {#}
    {#            $('#id_wedding_date').datepicker();#}
    {#            $("#id_wedding_date").datetimepicker({#}
    {#             'showTimepicker': false,#}
    {#            });#}
    {#        });#}
    {#    </script>#}

    {#    <link href="{% static "vendroid/plugins/tagsInput/jquery.tagsinput.css" %}" rel="stylesheet" type="text/css">#}
    {#    <link href="{% static "vendroid/plugins/bootstrap-switch/bootstrap-switch.css" %}" rel="stylesheet" type="text/css">#}
    {#    <link href="{% static "vendroid/plugins/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet" type="text/css">#}
    {#    <link href="{% static "vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" %}" rel="stylesheet" type="text/css">#}
    {#    <link href="{% static "vendroid/plugins/colorpicker/css/colorpicker.css" %}" rel="stylesheet" type="text/css">#}


    <!-- Specific Page Scripts Put Here -->

    {#<script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>#}
    <style>
        .red {
            color: red;
        }
        textarea {
            height: 80px;
        }
        .btn-brown {
            background-color: #26B8F3 !important;
        }
    .dataTables_filter pull-right{
        margin-top: -80px;
    }
    </style>
    <div class="vd_body">
        <!-- Header Start -->
        {% include "vendroid/partial/_header_yj_bawf.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/CRM/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                            <!-- vd_head-section -->

                            <div class="clearfix">

                                <!-- vd_title-section -->

                                <div class="vd_content-section clearfix">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel widget">
                                                <div class="panel-body">
                                                    {#                    <h2>Nav <span class="font-semibold">Tabs</span></h2>#}
                                                    {#                    <ul class="nav nav-tabs">#}
                                                    {##}
                                                    {##}
                                                    {#                    </ul>#}
                                                    <br>
                                                    <div class="tab-content mgbt-xs-20">
                                                        <div class="tab-pane active" id="privacy">
                                                            <div class="col-md-12 text-center">
                                                                {% include "vendroid/CRM/partial/_header_inside.html" %}

                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-12">

                                                                         <form action="/crm/bridegroom/bg/list/csv" method="post" id="searchForm">
                                                                            {% csrf_token %}
                                                                            <div class="col-md-4" style="padding: 0px;">

                                                                                <select id="id_events" name="events" class="form-control">

                                                                                    <option>-------------</option>
                                                                                    <optgroup label="Events" style="padding-bottom: 20px;">
                                                                                        {% for o in event %}
                                                                                            <option value="{{ o.name }}">{{ o.name }}</option>
                                                                                        {% endfor %}
                                                                                    </optgroup>

                                                                                </select>
                                                                            <br />

                                                                            </div>
                                                                            <div class="col-md-6 pull-left" style="display: inline;"><button class="btn vd_btn btn-brown pull-left" type="submit" style="margin-left: 10px;" id="search-btn"  >Export CSV</button></div>
{#                                                                            <br />#}
                                                                         <div class="col-md-12 pull-right text-left" style="display: inline;">
                                                                             <b>Amount in total: </b>${{ actual_amount|intcomma }}<br />
                                                                             <b>Discount (via Promocode): </b>${{ discounted_mount|intcomma }}<br />
                                                                             <b>----------------------------------------------<br />
                                                                             <b>Total Amount Transferred: </b>${{ amount|intcomma }}<br />


                                                                         </div>
                                                                         <div class="cearfix"></div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="col-md-6">

                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="panel-heading vd_bg-grey">
                                                                            <h3 class="panel-title text-center"> <span class="menu-icon">  </span> BRIDE/GROOM TICKETS</h3>
                                                                        </div>
                                                                        <div id="grid_table">
                                                                                        {% autopaginate bgUsers 10 %}
                                                                            {% include "vendroid/CRM/partial/_grid_search.html" %}
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                                <br><br>
                                            </div>
                                        </div>
                                        <!-- Panel Widget -->
                                    </div>
                                    <!-- col-md-6 -->

                                </div>
                                <!-- row -->

                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_container -->
            </div>
            <!-- .vd_content-wrapper -->

            <!-- Middle Content End -->

        </div>
        <!-- .container -->

        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>

{% endblock content %}
{% block script %}
     <script src="{% static "vendroid/plugins/dataTables/table2CSV.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            var event = null;

            $("#id_events").change(function () {

                event = $('#id_events :selected').text();

                 $.ajax({
                            url: "/crm/bridegroom/bg/list",
                            type: "GET",
                            data: {
                                'event': event,

                            },

                            success: function (data) {

                                if (data != ""){
                                    $("#grid_table").html(data);
                                    console.log('in error promo ajax');
                                    $('#error_promotion').html('Promotion Code is not Valid');

                                }
                                if(data['response'] == 'success'){
                                    console.log('in success promo ajax');

                                }
                            },

                            error: function(error) {
                                console.log("error: "+error.message);

                            }
                        })
            });



        } );
    </script>


{% endblock script %}