{% extends "vendroid/base_bawf.html" %}
{% load pagination_tags %}
{% load static %}
{% load myfilters %}
{% load humanize %}
{% block content %}
<style>
{#  th{#}
{#    font-size: 15px;#}
{#  }#}
{#  td{#}
{#    font-size: 10px;#}
{#    word-break: break-all;#}
{#  }#}

  .pagination{
    font-size:15px;
  }

  .dataTables_wrapper{
{#    width: 200px !important;#}
{#    max-width:200px;#}
    overflow-x: scroll;
  }
</style>
{#    <script src="{% static "js/bootstrap.min.js" %}"></script>#}
{#    <script src="{% static "js/jquery-ui.min.js" %}"></script>#}
{##}
{#    <script src="{% static "vendroid/plugins/daterangepicker/daterangepicker.js" %}"></script>#}
{#    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>#}
{#    <link href={% static "css/chosen.css" %} rel="stylesheet" type="text/css" media="all"/>#}
{#    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>#}
{#    <script>#}
{#    $(function () {#}
{#            $('#id_wedding_date').datepicker();#}
{#            $("#id_wedding_date").datetimepicker({#}
{#             'showTimepicker': false,#}
{#            });#}
{#        });#}
{#    </script>#}

{#    <link href="{% static "vendroid/plugins/tagsInput/jquery.tagsinput.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/bootstrap-switch/bootstrap-switch.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/colorpicker/css/colorpicker.css" %}" rel="stylesheet" type="text/css">#}


<!-- Specific Page Scripts Put Here -->

{#<script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>#}
    <style>
    .red {
        color: red;
    }
    textarea {
        height: 80px;
    }
    .btn-brown {
        background-color: #ba8c00 !important;
    }
    </style>
    <div class="vd_body">
        <!-- Header Start -->
       {% include "vendroid/partial/_header_yj_bawf.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/CRM/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

               <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">

          <!-- vd_head-section -->

          <div class="clearfix">

          <!-- vd_title-section -->

          <div class="vd_content-section clearfix">

            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-body">
{#                    <h2>Nav <span class="font-semibold">Tabs</span></h2>#}
{#                    <ul class="nav nav-tabs">#}
{##}
{##}
{#                    </ul>#}
                    <br>
                <div class="tab-content mgbt-xs-20">
                      <div class="tab-pane active" id="privacy">
                          <div class="col-md-12 text-center">
                             {% include "vendroid/CRM/partial/_header_inside.html" %}

                          </div>
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-12">
{#                                      <a class="btn vd_btn pull-right btn-brown" style="margin-left: 20px;"  href="http://bayareaweddingfairs.com/bride-groom-registration/" style="margin-bottom: 20px;">ADD BRIDE/GROOM USERS</a>#}
                                      <a target="_blank" class="btn vd_btn pull-right btn-brown" href="{% url "bg_management_dev" %}"  style="margin-bottom: 20px;">ADD A RECORD</a>
                                      <form action="" class="" method="post">
                                                                                    {% csrf_token %}
                                                                                    <input name="export_all" id="export_all"
                                                                                           hidden />

                                                                                    <button style="background-color: #ba8c00 !important;margin-bottom: 20px; margin-right: 10px;"
                                                                                            type="submit"
                                                                                            class="btn vd_btn vd_bg-green pull-right">
                                                                            <span class="menu-icon">


                                                                            </span>
                                                                                        Export All
                                                                                    </button>

                                                                                </form>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="panel-heading vd_bg-grey">
                                        <h3 class="panel-title text-center"> <span class="menu-icon">  </span> BRIDE/GROOM USERS</h3>
                                      </div>
                                      <div class="panel-body table-responsive">
                                          <div class="dataTables_wrapper form-inline no-footer"
                                               id="data-tables_wrapper">
                                              <table aria-describedby="data-tables_info" role="grid"
                                                     class="table table-striped dataTable no-footer" id="data-tables">
                                                  <thead>
                                                  <tr role="row">
                                                      <th>
                                                          Name
                                                      </th>
                                                      <th>
                                                          Phone
                                                      </th>
                                                      <th>
                                                          Email
                                                      </th>
                                                      <th>
                                                          City
                                                      </th>
                                                      <th>
                                                          Zip
                                                      </th>
                                                      <th>Looking For
                                                      </th>
                                                      <th>Wedding Date
                                                      </th>
                                                      <th>
                                                          Comments
                                                      </th>
                                                      <th>
                                                          How heard
                                                      </th>
                                                      <th>
                                                          Event
                                                      </th>
                                                      <th>Las Vegas Sign In?
                                                      </th>
                                                      <th>Created at</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  {% autopaginate bgUsers 10 %}
                                                  {% for userprofile in bgUsers %}
                                                      <tr role="row" class="gradeA odd">
                                                          <td><a target="_blank" href="{% url "bride_detail" userprofile.id %}">{{  userprofile.name }}</a></td>
                                                          <td>{{  userprofile.phone }}</td>
                                                          <td>{{  userprofile.email }}</td>
                                                          <td>{{  userprofile.city }}</td>
                                                          <td>{{  userprofile.zip }}</td>
                                                          <td>{{  userprofile.looking_for }}</td>
                                                          <td>{{  userprofile.weddingDate }}</td>
                                                          <td>{{  userprofile.comments }}</td>
                                                          <td>{{  userprofile.how_heard }}</td>
                                                          <td>{{  userprofile.event }}</td>
                                                          <td>{{  userprofile.is_lasVegasSignIn }}</td>
                                                          <td>{{  userprofile.created_at }}</td>
                                                      </tr>
                                                  {% endfor %}
                                                  </tbody>
                                              </table>
                                            {% paginate %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          </div>

                      </div>
                    </div>
                    <br><br>
                  </div>
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-6 -->

            </div>
            <!-- row -->

          </div>
          <!-- .vd_content-section -->

        </div>
        <!-- .vd_content -->
      </div>
      <!-- .vd_container -->
    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->

        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>

{#  <script src="{% static "js/chosen.jquery.min.js" %}"></script>#}
{##}
{#    <script type="text/javascript">#}
{##}
{#        if($("#to").length > 0){#}
{#            $("#to").chosen();#}
{#        }#}
{#    </script>#}


{% endblock content %}
{% block script %}



{% endblock script %}