{% extends "vendroid/base_bawf.html" %}
{% load pagination_tags %}
{% load static %}
{% load myfilters %}
{% load humanize %}
{% block content %}
    <style>

        .pagination {
            font-size: 15px;
        }

        .dataTables_wrapper {
            overflow-x: scroll;
        }
    </style>
    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>
    <link href={% static "css/chosen.css" %} rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <link href="{% static "vendroid/plugins/dataTables/css/jquery.dataTables.min.css" %}" rel="stylesheet"
          type="text/css">

    <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
    <style>
        .red {
            color: red;
        }

        textarea {
            height: 80px;
        }

        .btn-brown {
            background-color: #ba8c00 !important;
        }
    </style>
    <div class="vd_body">
        <!-- Header Start -->
        {% include "vendroid/partial/_header_yj_bawf.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/CRM/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                            <!-- vd_head-section -->

                            <div class="clearfix">

                                <!-- vd_title-section -->

                                <div class="vd_content-section clearfix">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel widget">
                                                <div class="panel-body">
                                                    <br>
                                                    <div class="tab-content mgbt-xs-20">
                                                        {% if successMessage %}
                                                            <div class="flashes">
                                                                <div class="alert alert-success">{{ successMessage }}</div>
                                                            </div>
                                                        {% endif %}
                                                        <div class="tab-pane active" id="privacy">
                                                            <div class="col-md-12 text-center">
                                                                {% include "vendroid/CRM/partial/_header_inside.html" %}

                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="panel-heading vd_bg-grey">
                                                                            <h3 class="panel-title text-center"><span
                                                                                    class="menu-icon">  </span>
                                                                                Contracted Vendors </h3>
                                                                        </div>
                                                                        <div class="panel-body table-responsive">
                                                                            <div class="dataTables_wrapper form-inline no-footer"
                                                                                 id="data-tables_wrapper">

                                                                                <form method="post" action="">
                                                                                    {% csrf_token %}
                                                                                    <input placeholder="search"
                                                                                           class="form-control pull-left"
                                                                                           {% if initial_word %}value="{{ initial_word }}"{% endif %}
                                                                                           name="search" id="search"
                                                                                           style="margin-right: 20px; width: 40%;"/>

                                                                                    <button style="background-color: #ba8c00 !important;margin-bottom: 20px;"
                                                                                            type="submit"
                                                                                            class="btn vd_btn vd_bg-green pull-left">
                                                                            <span class="menu-icon">


                                                                            </span>
                                                                                        Search
                                                                                    </button>

                                                                                </form>
                                                                                <form action="" method="post">
                                                                                    {% csrf_token %}
                                                                                    <input name="viewall" id="viewall"
                                                                                           hidden/>
                                                                                    <select class="pull-right"
                                                                                            name="viewtype"
                                                                                            style="width: 10%;margin-left: 10px;">
                                                                                        <option value="all"
                                                                                                {% if viewtype == "all" %}selected{% endif %}>
                                                                                            All
                                                                                        </option>
                                                                                        <option value="paid"
                                                                                                {% if viewtype == "paid" %}selected{% endif %}>
                                                                                            Paid
                                                                                        </option>
                                                                                        <option value="unpaid"
                                                                                                {% if viewtype == "unpaid" %}selected{% endif %}>
                                                                                            Unpaid
                                                                                        </option>
                                                                                    </select>

                                                                                    <button style="background-color: #ba8c00 !important;margin-bottom: 20px; margin-left: 10px;"
                                                                                            type="submit"
                                                                                            class="btn vd_btn vd_bg-green pull-right">
                                                                            <span class="menu-icon">


                                                                            </span>
                                                                                        View
                                                                                    </button>

                                                                                </form>
                                                                                {% if events %}
                                                                                    {% if not view_all %}
                                                                                        {% autopaginate events 20 %}
                                                                                    {% endif %}
                                                                                    <table aria-describedby="data-tables_info"
                                                                                           role="grid"
                                                                                           class="table table-striped dataTable no-footer"
                                                                                           id="data-tables">
                                                                                        <thead>
                                                                                        <tr role="row">
                                                                                            <th>
                                                                                                Vendor's Name
                                                                                            </th>
                                                                                            <th>
                                                                                                Company
                                                                                            </th>
                                                                                            <th>Show Signed Up
                                                                                            </th>
                                                                                            <th>Total Amount
                                                                                            </th>
                                                                                            <th>Balance Due</th>
                                                                                            <th>Status</th>
                                                                                            <th>Booth</th>
                                                                                            <th>Created at</th>
                                                                                        </tr>
                                                                                        </thead>
                                                                                        <tbody>

                                                                                        {% for event in events %}
                                                                                            <tr role="row"
                                                                                                class="gradeA odd">
                                                                                                <td><a target="_blank"
                                                                                                       href="{% url "contracted_contractor_detail" event.id %}"
                                                                                                       style="color:dodgerblue">{{ event.name }}</a>
                                                                                                </td>
                                                                                                <td>{{ event.business_name }}</td>
                                                                                                <td>{{ event.event.name }}
                                                                                                    - {{ event.event.date }}</td>
                                                                                                <td>
                                                                                                    ${{ event.total_amount }}</td>
                                                                                                <td>
                                                                                                    ${{ event.amount_due }}</td>
                                                                                                <td>
                                                                                                    {% if event.status == "Deleted" %}
                                                                                                        Deleted
                                                                                                        {% else %}
                                                                                                                {% if event.total_amount == 0 %}
                                                                                                                    {% if event.have_invoices %}
                                                                                                                        Paid
                                                                                                                    {% else %}
                                                                                                                        No
                                                                                                                        invoice
                                                                                                                        available{% endif %}{% else %}
                                                                                                                {% if event.amount_due == 0 %}
                                                                                                                    Paid
                                                                                                                {% else %}
                                                                                                                    <span style="color:red;">Unpaid</span>
                                                                                                                {% endif %}
                                                                                                                {% endif %}{% endif %}
                                                                                                </td>

                                                                                                <td>{{ event.booth }}</td>
                                                                                                <td>{{ event.created_at|date:"Y-m-d" }}</td>
                                                                                            </tr>
                                                                                        {% endfor %}


                                                                                        </tbody>
                                                                                    </table>
                                                                                    {% if not view_all %}
                                                                                        {% paginate %}
                                                                                    {% endif %}
                                                                                {% endif %}

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                                <br><br>

                                            </div>
                                        </div>
                                        <!-- Panel Widget -->
                                    </div>
                                    <!-- col-md-6 -->

                                </div>
                                <!-- row -->

                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_container -->
            </div>
            <!-- .vd_content-wrapper -->

            <!-- Middle Content End -->

        </div>
        <!-- .container -->

        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>

    <script src="{% static "js/chosen.jquery.min.js" %}"></script>

    <script type="text/javascript">

        if ($("#to").length > 0) {
            $("#to").chosen();
        }
    </script>


{% endblock content %}
{% block script %}


    <script>
        $(function () {
            var tags = ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"];
            $("#search").autocomplete({
                source: "/api/bawf/crm/eventslist/autocomplete/",
            });
            $('#data-tables').dataTable({
                {% if view_all %}
                    "iDisplayLength": -1,
                    "aLengthMenu": [[10, 15, 25, 35, 50, 100, -1], [10, 15, 25, 35, 50, 100, "All"]],
                {% else %}
                    "iDisplayLength": 25,
                    "aLengthMenu": [[10, 15, 25, 35, 50, 100], [10, 15, 25, 35, 50, 100]],
                {% endif %}
                "aaSorting": [[6, 'desc']],
            });
        });
    </script>
{% endblock script %}