{% extends "vendroid/base.html" %}
{% load static %}
{% load humanize %}
{% load myfilters %}
{% block content %}
  <style>

  </style>

    <script type="text/javascript" src="{% static "vendroid/js/jquery.js" %}"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>

    <div class="vd_body">
        <!-- Header Start -->
       {% include "vendroid/partial/_header.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
{#                {% include "vendroid/partial/_sidebar.html" %}#}

            {% include "vendroid/partial/_sidebar.html" %}

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header no-subtitle">
                                    <br/>
                                    <h1 class="pull-left">CRM for Admin</h1>
                                </div>
                            </div>
                            <div class="vd_content-section clearfix">
                                <!--(1)start the left panel online messages -->
                                <!-- row -->
{#                                <div class="col-sm-12">#}
                                    <div class="row">
                                        <!--left row-->
                                        <div class="panel widget vd_todo-widget light-widget">
                                            <div class="panel-body">
                                                <div class="container np">
                                                    <h2><span class="append-icon fa fa-fw fa-database vd_yellow npl"></span>
                                                        <span class="menu-text"><strong>Create Wedding Fairs Events</strong></span>
                                                    </h2>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
{#                                </div>#}

                            </div>

                        </div>

                    </div>
                    <!-- .vd_content -->
                </div>
                <!-- .vd_container -->
            </div>
            <!-- .vd_content-wrapper -->
        </div>
            <!-- .container -->

        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->
    </div>

{% endblock content %}
{% block script %}
    <script type="text/javascript" src='{% static "vendroid/plugins/sparkline/jquery.sparkline.min.js" %}'></script>
    <script type="text/javascript">

    </script>

{% endblock script %}