{% extends "vendroid/base_bawf.html" %}
{% load pagination_tags %}
{% load static %}
{% load myfilters %}
{% load humanize %}
{% block content %}
    <style>
        .red {
            color: red;
        }

        textarea {
            height: 80px;
        }

        .btn-brown {
            background-color: #26B8F3 !important;
        }
    </style>
    <script>
        $(function () {
            $('#id_dueDate').datepicker({
                dateFormat: "yy-mm-dd"
            });
        });

    </script>
    <style>
        .ui-widget-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .ui-front {
            z-index: 100;
        }

        .errorlist {
            color: red;
        }
    </style>

    <div class="vd_body">
        <!-- Header Start -->
        {% include "vendroid/partial/_header_yj_bawf.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/CRM/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                            <!-- vd_head-section -->

                            <div class="clearfix">

                                <!-- vd_title-section -->

                                <div class="vd_content-section clearfix">


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel widget light-widget">
                                                <div class="panel-body" style="padding:40px;">
                                                    <div class="col-sm-12">
                                                        <h3 class="font-semibold mgbt-xs-20">{{ wp.name }}</h3>

                                                        <form action="" method="post">
                                                            {% csrf_token %}
                                                            <input hidden name="delete_bride" id="delete_bride"
                                                                   value="{{ wp.id }}"/>
                                                            <button class="btn vd_btn vd_bg-red vd_white pull-right "
                                                                    title="Remove the contracted vendor"><i
                                                                    class="fa fa-trash-o append-icon"></i>Delete
                                                            </button>
                                                        </form>
                                                        <p>Status:
                                                            <mark style="color:orangered">Bride / Groom</mark>
                                                        </p>
                                                    </div>

                                                    <hr>
                                                    <br>

                                                </div>
                                                <!-- panel-body -->

                                            </div>
                                            <!-- Panel Widget -->
                                        </div>

                                    </div>
                                    <!-- col-md-6 -->


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel widget light-widget">
                                                <div class="panel-body">
                                                    <div class="col-md-6">
                                                        <h5 class="">Bride / Groom Information</h5>
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr class="">
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Name:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_name"
                                                                                           class="pull-left">{{ wp.name }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="name-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type" id="edit_name"
                                                                               class="pull-left" value="name">
                                                                        <input hidden name="edit_value" id="edit_value"
                                                                               value="{{ wp.name }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_name, #name-edit-btn, #edit_value, #name-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_name">
                                                                        <div hidden id="name-edit-save-btn"
                                                                             class="pull-right">
                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="name-cancel-btn" href="#"
                                                                               onclick="$('#wp_name, #name-edit-btn, #edit_value, #name-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>

                                                                    <a class="pull-right" id="name-edit-btn" href="#"
                                                                       onclick="$('#wp_name, #name-edit-btn, #edit_value, #name-edit-save-btn').toggle('hidden');">Edit</a>

                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">City:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_city"
                                                                                           class="pull-left">{{ wp.city }}</span>

                                                                    <form method="post" action="" class="edit-form"
                                                                          id="city-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type" id="edit_city"
                                                                               class="pull-left" value="city">
                                                                        <input hidden name="edit_value"
                                                                               id="edit_value_city"
                                                                               value="{{ wp.city }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_city, #city-edit-btn, #edit_value_city, #city-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_city">
                                                                        <div hidden id="city-edit-save-btn"
                                                                             class="pull-right">
                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>

                                                                            <a class="pull-right btn"
                                                                               id="city-cancel-btn" href="#"
                                                                               onclick="$('#wp_city, #city-edit-btn, #edit_value_city, #city-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>

                                                                    <a class="pull-right" id="city-edit-btn" href="#"
                                                                       onclick="$('#wp_city, #city-edit-btn, #edit_value_city, #city-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Zip:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_zip"
                                                                                           class="pull-left">{{ wp.zip }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="zip-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type" id="edit_zip"
                                                                               class="pull-left" value="zip">
                                                                        <input hidden name="edit_value"
                                                                               id="edit_value_zip" value="{{ wp.zip }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_zip, #zip-edit-btn, #edit_value_zip, #zip-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_zip">
                                                                        <div hidden id="zip-edit-save-btn"
                                                                             class="pull-right">
                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="zip-cancel-btn" href="#"
                                                                               onclick="$('#wp_zip, #zip-edit-btn, #edit_value_zip, #zip-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>

                                                                    <a class="pull-right" id="zip-edit-btn" href="#"
                                                                       onclick="$('#wp_zip, #zip-edit-btn, #edit_value_zip, #zip-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="">
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Email:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_email"
                                                                                           class="pull-left">{{ wp.email }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="email-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type" id="edit_email"
                                                                               class="pull-left" value="email">
                                                                        <input hidden name="edit_value"
                                                                               id="edit_value_email"
                                                                               value="{{ wp.email }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_email, #email-edit-btn, #edit_value_email, #email-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_email">
                                                                        <div hidden id="email-edit-save-btn"
                                                                             class="pull-right">

                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="email-cancel-btn" href="#"
                                                                               onclick="$('#wp_email, #email-edit-btn, #edit_value_email, #email-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>

                                                                    <a class="pull-right" id="email-edit-btn" href="#"
                                                                       onclick="$('#wp_email, #email-edit-btn, #edit_value_email, #email-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <h5 class="">&nbsp;</h5>
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr class="">
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Phone:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_phone"
                                                                                           class="pull-left">{{ wp.phone }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="phone-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type" id="edit_phone"
                                                                               class="pull-left" value="phone">
                                                                        <input hidden name="edit_value"
                                                                               id="edit_value_phone"
                                                                               value="{{ wp.phone }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_phone, #phone-edit-btn, #edit_value_phone, #phone-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_phone">
                                                                        <div hidden id="phone-edit-save-btn"
                                                                             class="pull-right">

                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="phone-cancel-btn" href="#"
                                                                               onclick="$('#wp_phone, #phone-edit-btn, #edit_value_phone, #phone-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>

                                                                    <a class="pull-right" id="phone-edit-btn" href="#"
                                                                       onclick="$('#wp_phone, #phone-edit-btn, #edit_value_phone, #phone-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Wedding
                                                                    Date:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_weddingdate"
                                                                                           class="pull-left">{{ wp.weddingDate }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="weddingdate-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type"
                                                                               id="edit_weddingdate" class="pull-left"
                                                                               value="weddingdate">
                                                                        <input hidden name="edit_value"
                                                                               id="edit_value_weddingdate"
                                                                               value="{{ wp.weddingDate }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_weddingdate, #weddingdate-edit-btn, #edit_value_weddingdate, #weddingdate-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display"
                                                                               value="#wp_weddingdate">
                                                                        <div hidden id="weddingdate-edit-save-btn"
                                                                             class="pull-right">
                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="weddingdate-cancel-btn" href="#"
                                                                               onclick="$('#wp_weddingdate, #weddingdate-edit-btn, #edit_value_weddingdate, #weddingdate-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>
                                                                    <a class="pull-right" id="weddingdate-edit-btn"
                                                                       href="#"
                                                                       onclick="$('#wp_weddingdate, #weddingdate-edit-btn, #edit_value_weddingdate, #weddingdate-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">How
                                                                    Heard:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_how-heard"
                                                                                           class="pull-left">{{ wp.how_heard }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="how-heard-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type"
                                                                               id="edit_how-heard" class="pull-left"
                                                                               value="how-heard">
                                                                        <select style="width: 40%;" hidden
                                                                                id="edit_value_how-heard"
                                                                                name="edit_value"
                                                                                placeholder="How did you hear">
                                                                            <option value="">How did you hear?</option>
                                                                            <option value="Here comes the guide">Here
                                                                                comes the guide
                                                                            </option>
                                                                            <option value="Other">Other</option>
                                                                            <option value="Facebook">Facebook</option>
                                                                            <option value="Google">Google</option>
                                                                            <option value="Radio">Radio</option>
                                                                            <option value="TheKnot">TheKnot</option>
                                                                            <option value="Friends &amp; Family">Friends
                                                                                &amp; Family
                                                                            </option>
                                                                        </select>
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_how-heard, #how-heard-edit-btn, #edit_value_how-heard, #how-heard-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_how-heard">
                                                                        <div hidden id="how-heard-edit-save-btn"
                                                                             class="pull-right">

                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="how-heard-cancel-btn" href="#"
                                                                               onclick="$('#wp_how-heard, #how-heard-edit-btn, #edit_value_how-heard, #how-heard-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>
                                                                    <a class="pull-right" id="how-heard-edit-btn"
                                                                       href="#"
                                                                       onclick="$('#wp_how-heard, #how-heard-edit-btn, #edit_value_how-heard, #how-heard-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">
                                                                    Categories:
                                                                </td>
                                                                <td class="col-sm-9">
                                                                    {% for cat in wp.categories.all %}{{ cat }}
                                                                        , {% endfor %}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-6">
                                                        <h5 class="mgbt-xs-15">Show Information</h5>
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">
                                                                    Events:
                                                                </td>
                                                                <td class="col-sm-9">
                                                                    {#                                              {{ wp.event.name }}#}
                                                                    {% if not show_interested %}
                                                                        {{ wp.event.name }} <br>
                                                                        <p style="color:grey">{{ wp.event.date }}</p>
                                                                    {% else %}
                                                                        {% for event_obj in wp.event.all %}
                                                                            {{ event_obj.name }} <br>
                                                                            <p style="color:grey">{{ event_obj.date }}</p>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">
                                                                    Comments:
                                                                </td>
                                                                <td class="col-sm-9"><span id="wp_comments"
                                                                                           class="pull-left">{{ wp.comments }}</span>
                                                                    <form method="post" action="" class="edit-form"
                                                                          id="comments-form">
                                                                        {% csrf_token %}
                                                                        <input hidden name="edit_type"
                                                                               id="edit_comments" class="pull-left"
                                                                               value="comments">
                                                                        <input hidden name="edit_value"
                                                                               id="edit_value_comments"
                                                                               value="{{ wp.comments }}">
                                                                        <input hidden name="edit_editor"
                                                                               id="edit_editor"
                                                                               value="#wp_comments, #comments-edit-btn, #edit_value_comments, #comments-edit-save-btn">
                                                                        <input hidden name="edit_display"
                                                                               id="edit_display" value="#wp_comments">
                                                                        <div hidden id="comments-edit-save-btn"
                                                                             class="pull-right">
                                                                            <button type="submit"
                                                                                    class="btn vd_btn btn-brown pull-right"
                                                                                    href="#">Save
                                                                            </button>
                                                                            <a class="pull-right btn"
                                                                               id="comments-cancel-btn" href="#"
                                                                               onclick="$('#wp_comments, #comments-edit-btn, #edit_value_comments, #comments-edit-save-btn').toggle('hidden');">Cancel</a>
                                                                        </div>
                                                                    </form>
                                                                    <a class="pull-right" id="comments-edit-btn"
                                                                       href="#"
                                                                       onclick="$('#wp_comments, #comments-edit-btn, #edit_value_comments, #comments-edit-save-btn').toggle('hidden');">Edit</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-md-6">
                                                        <h5 class="mgbt-xs-15">Assignee Information</h5>
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Modified
                                                                    By:
                                                                </td>
                                                                <td class="col-sm-9">{% if wp.sales %}{{ wp.sales }}
                                                                    &nbsp; {% endif %}{{ wp.modified_at }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-sm-3 vd_bg-soft-grey text-right">Created
                                                                    By:
                                                                </td>
                                                                <td class="col-sm-9">{% if wp.sales %}{{ wp.sales }}
                                                                    &nbsp; {% endif %}{{ wp.created_at }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!--end of tasks-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row -->
                                </div>
                                <!-- .vd_content-section -->
                            </div>
                            <!-- .vd_content -->
                        </div>
                        <!-- .vd_container -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->
                <!-- Middle Content End -->
                {#               </div>#}
            </div>
            <!-- .container -->
        </div>
        <!-- .content -->
        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->
    </div>
    <!--Contractor detail form--->
    <div class="modal fade" id="contractFormModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="background-color: wheat">
            <div class="modal-body" id="contractFormModalBody">
                <div>
                    <h4 class="modal-title" style="text-align: center;">Edit Contractor Information</h4>
                    <hr>
                    {% if error_message %}
                        <div class="flashes">
                            <div class="alert alert-danger">{{ error_message }}</div>
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>
    </div>

    <script src="{% static "js/chosen.jquery.min.js" %}"></script>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript"
            src="https://raw.githubusercontent.com/igorescobar/jQuery-Mask-Plugin/master/src/jquery.mask.js"></script>
    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <script type="text/javascript">
        $('#edit_value_weddingdate').datetimepicker(
            {
                format: 'Y-m-d',
            }
        );
        $(document).ready(function () {
            $('#edit_value_phone').mask('(000) 000-0000');
        })
        $('.edit-form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '{{ request.get_full_path }}',
                type: 'post', // http method
                data: $(this).serialize(),
                success: function (response) {
                    var obj = jQuery.parseJSON(response);
                    $(obj.edit_editor).toggle('hidden');
                    $(obj.edit_display).html(obj.value);
                    $(obj.edit_display).html(obj.value);
                    notification("topright", "success", "fa fa-check-circle vd_green", "Success", obj.message);
                },
                error: function (xhr, errmsg, err) {
                    notification('topright', 'error', 'fa fa-exclamation-circle vd_red', 'Operation not performed.', 'The system is busy at the moment, please try again later.');
                }
            });
        });
    </script>
{% endblock content %}
