{% extends "vendroid/base_bawf.html" %}
{% load pagination_tags %}
{% load static %}
{% load myfilters %}
{% load humanize %}
{% block content %}
<style>
{#  th{#}
{#    font-size: 15px;#}
{#  }#}
{#  td{#}
{#    font-size: 10px;#}
{#    word-break: break-all;#}
{#  }#}

  .pagination{
    font-size:15px;
  }

  .dataTables_wrapper{
{#    width: 200px !important;#}
{#    max-width:200px;#}
    overflow-x: scroll;
  }
</style>

{#    <script src="{% static "js/bootstrap.min.js" %}"></script>#}
{#    <script src="{% static "js/jquery-ui.min.js" %}"></script>#}
{##}
{#    <script src="{% static "vendroid/plugins/daterangepicker/daterangepicker.js" %}"></script>#}
    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>
    <link href={% static "css/chosen.css" %} rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <script>
    $(function () {
            $('#id_wedding_date').datepicker();
{#            $("#id_wedding_date").datetimepicker({#}
{#             'showTimepicker': false,#}
{#            });#}
        });
    </script>

{#    <link href="{% static "vendroid/plugins/tagsInput/jquery.tagsinput.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/bootstrap-switch/bootstrap-switch.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" %}" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "vendroid/plugins/colorpicker/css/colorpicker.css" %}" rel="stylesheet" type="text/css">#}


    <!-- Specific Page Scripts Put Here -->

{#    <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>#}
    <style>
    .red {
        color: red;
    }
    textarea {
        height: 80px;
    }
    .btn-brown {
        background-color: #ba8c00 !important;
    }
    </style>
    <div class="vd_body">
        <!-- Header Start -->
       {% include "vendroid/partial/_header_yj_bawf.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/CRM/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                  <div class="vd_container">
                    <div class="vd_content clearfix">

                      <!-- vd_head-section -->

                      <div class="">

                      <!-- vd_title-section -->

                      <div class="vd_content-section clearfix">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="panel widget">
                              <div class="panel-body">
            {#                    <h2>Nav <span class="font-semibold">Tabs</span></h2>#}
            {#                    <ul class="nav nav-tabs">#}
            {##}
            {##}
            {#                    </ul>#}
                                <br>
                                <div class="tab-content mgbt-xs-20">
                                     {% if successMessage %}
                                <div class="flashes">
                                    <div class="alert alert-success">{{ successMessage }}</div>
                                </div>
                                {% endif %}
                                  <div class="tab-pane active" id="privacy">
                                      <div class="col-md-12 text-center">
                                          <img src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/logo-new-02.png" width="20%" /><br />
                                          <div class="clearfix"></div>
                                          <br />
                                          <h3 style="color: #ba8c00;">REGISTERED EVENTS</h3>
            {#                              <img src="http://bayareaweddingfairs.com/wp-content/themes/wedding-wp/images/rose/floral.png"  />#}
                                          <hr />

                                      </div>
                                      <div class="col-md-12">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <a class="btn vd_btn pull-right btn-brown" href="/crm/invoices/add/" style="margin-bottom: 20px;">ADD EXHIBITOR</a>
                                              </div>
                                              <div class="col-md-12">
                                                  <div class="panel-heading vd_bg-grey">
                                                    <h3 class="panel-title text-center"> <span class="menu-icon">  </span> Interested Vendors </h3>
                                                  </div>
                                                  <div class="panel-body table-responsive">
                                                      <div class="dataTables_wrapper form-inline no-footer"
                                                           id="data-tables_wrapper">
                                                          <table aria-describedby="data-tables_info" role="grid"
                                                                 class="table table-striped dataTable no-footer" id="data-tables">
                                                              <thead>
                                                              <tr role="row">
            {#                                                      <th>Registration ID#}
            {#                                                      </th>#}

                                                                  <th>
                                                                      Vendor's Name
                                                                  </th>
                                                                  <th>
                                                                      Company
                                                                  </th>
                                                                  <th>
                                                                      Phone
                                                                  </th>
                                                                  <th>
                                                                      Email
                                                                  </th>
                                                                  <th>
                                                                      Business Category
                                                                  </th>
                                                                  <th>Event Registered
                                                                  </th>
                                                                  <th>
                                                                      Created at
                                                                  </th>
            {#                                                      <th>#}
            {#                                                          Status#}
            {#                                                      </th>#}
                                                                  <th>
                                                                      Invoices
                                                                  </th>

                                                                  <th>
                                                                      Sales
                                                                  </th>
                                                              </tr>
                                                              </thead>

                                                              <tbody>
                                                              {% autopaginate events 10 %}
                                                              {% for event in events %}
                                                                  <tr role="row" class="gradeA odd">
            {#                                                          <td>{{ event.id }}</td>#}
                                                                      <td><a href="{% url "interested_contractor_detail" event.id %}" style="color:dodgerblue">{{ event.name }}</a></td>
                                                                      <td>{{ event.business_name }}</td>
                                                                      <td>{{ event.phone }}</td>
                                                                      <td>{{ event.email }}</td>
                                                                      <td>{{ event.category }}</td>
                                                                      <td>{{ event.event.name }}</td>
                                                                      <td>{{ event.created_at }}</td>
            {#                                                          <td>{{ event.status }}</td>#}
                                                                      <td><a href="{%  url "event_invoice_detail" event.id   %}" class="btn vd_btn btn-brown">View invoice</a></td>
                                                                      <td>{% if event.sales  %}
                                                                            <div class="salesNow">{{event.sales.get_full_name }}</div>
                                                                          {% else %}
                                                                            No sales
                                                                          {% endif %}
            {#                                                              <a onclick="chooseSales({{ event.id }})" class="btn vd_btn btn-brown">Assign To</a>#}
                                                                          <div class="dropdown">
                                                                              <button class="btn vd_btn btn-brown dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Assign Sales
                                                                              <span class="caret"></span></button>
                                                                              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                                                  {% for sales in salesCandidates %}
                                                                                    <li role="presentation"><a role="menuitem" onclick="chooseSales({{ event.id}}, {{sales.id}});">{{ sales.get_full_name }}</a></li>
                                                                                  {% endfor %}
                                                                              </ul>
                                                                            </div>
                                                                      </td>
            {#                                                          <td><a href="/crm/invoices/edit/{{ event.id }}" class="btn vd_btn btn-brown">Edit invoice</a></td>#}
                                                                  </tr>
                                                              {% endfor %}
                                                              </tbody>
                                                          {% paginate %}
                                                          </table>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      </div>

                                  </div>
                                </div>
                                <br><br>









                              </div>
                            </div>
                            <!-- Panel Widget -->
                          </div>
                          <!-- col-md-6 -->

                        </div>
                        <!-- row -->

                      </div>
                      <!-- .vd_content-section -->

                    </div>
                    <!-- .vd_content -->
                  </div>
      <!-- .vd_container -->
                </div>
                    <!-- .vd_container -->
{#                </div>#}
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->
            <div class="clearfix"></div>
        </div>
        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>

  <script src="{% static "js/chosen.jquery.min.js" %}"></script>

    <script type="text/javascript">

        if($("#to").length > 0){
            $("#to").chosen();
        }


        function chooseSales(wpID, salesID){
{#            console.log("convert"+id);#}
            $.ajax({
                url: '/crm/invoices/interested_detail/'+wpID+'/',
                type: 'post', // http method
                data: {chooseSales: salesID},

                success: function (response) {
                    var sales = response['sales'];
                    console.log('success', sales);
                    $('.salesNow').html(sales);
{#                    $('#contractorDetail').html(response);#}
{#                    $('#contractorDetail').modal('show');#}
{#                    $('#editTaskFormModal').dialog({#}
{#                       height:500,#}
{#                       width:500,#}
{#                       modal:true#}
{#                   });#}
                },

                error: function (xhr, errmsg, err) {
                   console.log("fail Convert to Contracted Vendor "+errmsg+" "+err);
                }
            });
        };
    </script>


{% endblock content %}
{% block script %}



{% endblock script %}