{% load pagination_tags %}
<style>
  th{
    font-size: 15px;
  }
  td{
    font-size: 10px;
{#    word-break: break-all;#}
  }

  .pagination{
    font-size:15px;
  }

  .dataTable{
{#    width: 200px !important;#}
{#    max-width:200px;#}
    overflow-x: scroll;
  }
</style>


<div class="dataTable">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <!-- content-list -->

    {% autopaginate wps 10 %}
    {% for wp in wps %}
        {% if forloop.counter0|divisibleby:2%}
        <tr class="success">
        {% else %}
        <tr class="danger">
        {% endif %}

        <td>{{wp.get_username}} </td>
        <td>{{wp.category}} </td>
        <td><a class="btn btn-default vd_bg-blue vd-white" onclick="select_wp('{{wp.id}}')">Select</a></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% paginate %}