{% extends "vendroid/base.html" %}
{% load static %}
{% load humanize %}
{% load myfilters %}
{% block content %}
{#    <script type="text/javascript" src="{% static "vendroid/js/jquery.js" %}"></script>#}
    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>
    <link href={% static "css/chosen.css" %} rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
{#    <link rel="stylesheet" href="/resources/demos/style.css">#}


    <script>
        $(function() {
            $( "#id_due" ).datepicker();
        });
    </script>
    <div class="vd_body">
        <!-- Header Start -->
        {% include "vendroid/partial/_header.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/partial/_sidebar.html" %}
                {% include "vendroid/messages/partial/chat_list.html" %}

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">


{#                            <div class="vd_title-section clearfix">#}
{#                                <div class="vd_panel-header">#}
{#                                    <h1>Manage Tasks</h1>#}
{#                                    <small class="subtitle">You can create tasks, assign them to your friends, and change their status.#}
{#                                    </small>#}
{#                                </div>#}
{#                            </div>#}
                            <!-- vd_title-section -->

                            <div class="vd_content-section clearfix">
                                <div class="row">


                                    <style>.affix {
                                        top: 107px;
                                        position: fixed !important;
                                    }

                                    .affix-bottom {
                                        position: absolute;
                                    }</style>
                                    <div class="col-sm-4 sidebar-affix">
                                        <div class="panel widget vd_summary-panel affix-top">
{#                                            <div class="panel-heading vd_bg-green">#}
{#                                                <h3 class="panel-title">Tasks <a class="pull-right" href="/tasks">Show All</a></h3>#}
{#                                            </div>#}
                                            <div class="panel widget light-widget">
                  <div class="panel-heading no-title"> </div>
                  <div class="panel-body">
                    <h3 class="mgtp--5">Tasks </h3>
                      <hr />
                    <div class="content-list content-menu">
                      <ul class="list-wrapper">
                      {% if not profile.type == "Professional" %}
                        {% if profile.check_subscription %}
                                <a href="#addTodoModal" class="btn btn-block btn-success" data-toggle="modal"><i
                                    class="glyphicon glyphicon-plus"></i> <span>Add Task</span></a>
                                {% else %}
                            <a onclick="openSubscriptionModalUser();" class="btn btn-block btn-success"><i
                                    class="glyphicon glyphicon-plus"></i> <span>Add Task</span></a>
                                {% endif %}
                      {% else %}
                          <a href="#addTodoModal" class="btn btn-block btn-success" data-toggle="modal"><i
                                    class="glyphicon glyphicon-plus"></i> <span>Add Task</span></a>
                      {% endif %}
                          <li class="line"></li>
                        <li> <a href="/tasks/"> <div class="menu-icon vd_grey"></div> <div class="menu-text">View All</div> </a> </li>
                        <li> <a href="/tasks?today=1"> <div class="menu-icon vd_grey"></div> <div class="menu-text">Today</div> </a> </li>
                        <li> <a href="/tasks?complete=1"> <div class="menu-icon vd_grey"></div> <div class="menu-text">Completed</div><div class="menu-badge"><div class="badge vd_bg-red">{{ completed_task_count|intcomma }}</div></div> </a> </li>
                        <li class="line"></li>
                        <li><h4>Tasks Assigned by</h4></li>
                          {% for assign in assigns %}

                                                <li ><a
                                                        href="/tasks?friend={{ assign.task.user.id }}&name={{ assign.task.user.get_full_name }}"><div class="menu-icon vd_grey"></div> <div class="menu-text">{{ assign.task.user.get_full_name }}</div></a>
                                                </li>

                                {% endfor %}
{#                        <li> <a href="#"> <div class="menu-icon vd_grey"><i class=" fa fa-lock"></i></div> <div class="menu-text">Privacy</div> </a> </li>#}
{#                        <li> <a href="#"> <div class="menu-icon vd_grey"><i class=" fa fa-cogs"></i></div> <div class="menu-text">Settings</div> </a> </li>#}
{#                        <li> <a href="#"> <div class="menu-icon vd_grey"><i class="  fa fa-key"></i></div> <div class="menu-text">Lock</div> </a> </li>#}
{#                        <li class="line"></li>#}
{#                        <li> <a href="#"> <div class="menu-icon vd_grey"><i class=" glyphicon glyphicon-bullhorn"></i></div> <div class="menu-text">Report a Problem</div> </a> </li>#}
                      </ul>
                    </div>
                  </div>
                </div>
                                        </div>
                                        <!-- Panel Widget -->
                                    </div>
                                    <!-- col-sm-8 -->
                                    <div class="col-sm-8">
                                        <div class="panel widget vd_todo-widget light-widget">

                                              <div class="panel-body">
                                                <h2 class="mgbt-xs-20"> <span class="append-icon"> <i class="fa fa-check-circle-o vd_green"></i> </span> Task List</h2>
                                                {% if tasks_all %}
                                                <div class="controls">

{#                                                  {% for task in tasks_all %}#}
{#                                                  <div class="vd_checkbox checkbox-done" id="list_task_{{ task.id }}">#}
{#                                                    <input data-action="refresh" id="checkbox-{{ task.id }}" value="1" onclick="completeTask({{ task.id }});" type="checkbox" {% if task.complete %}checked="true"{% endif %} >#}
{#                                                    <label for="checkbox-{{ task.id }}"> {{ task.subject }} </label>#}
{#                                                  <p>{{ task.created_at|timesince }} ago </p>#}
{#                                                      <form action="." method="POST" id="taskDeleteForm_{{ task.id }}">#}
{#                                                          {% csrf_token %}#}
{#                                                          <input type="hidden" name="task_to_delete"#}
{#                                                                 value="{{ task.id }}"/>#}
{#                                                          <a class="btn pull-right btn-default" onclick="editTask('{{ task.id }}');">Edit</a>#}
{#                                                          <a class="btn pull-right btn-danger" style="margin-right: 10px;"#}
{#                                                             onclick="deleteTask('{{ task.id }}');"><i#}
{#                                                    class="glyphicon glyphicon-trash"></i></a>#}
{#                                                      </form>#}
{#                                                    <div class="clearfix"></div>#}
{##}
{#                                                  </div>#}
{##}
{#                                                  {% endfor %}#}
                                                    <div class="col-md-12">
                <div class="panel widget">
{#                  <div class="panel-heading vd_bg-grey">#}
{#                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span> Data Tables Example </h3>#}
{#                  </div>#}
                  <div class="panel-body table-responsive">
                    <div class="dataTables_wrapper form-inline no-footer" id="data-tables_wrapper">
                        <div class="row">
                            <div class="col-xs-12">

                        <table aria-describedby="data-tables_info" role="grid" class="table table-striped dataTable no-footer" id="data-tables">
                        <thead>
                        <tr role="row">
                            <th>Title
                            </th>
                            <th>Due date
                            </th>
                            <th >
                                Delete
                            </th>
                            <th >
                                Edit
                            </th>

                        </tr>
                        </thead>
                      <tbody>
                      {% for task in tasks_all %}
                      <tr role="row" class="gradeA even" id="list_task_{{ task.id }}">
                          <td class="sorting_1">

                               <input data-action="refresh" id="checkbox-{{ task.id }}" value="1" onclick="completeTask({{ task.id }});" type="checkbox" {% if task.complete %}checked="true"{% endif %} >
                                                    <label for="checkbox-{{ task.id }}"> {{ task.subject }} </label>

                          </td>
                          <td>{{ task.created_at.date }}</td>
                          <td class="center">
                              <form action="." method="POST" id="taskDeleteForm_{{ task.id }}">
                                                          {% csrf_token %}
                                                          <input type="hidden" name="task_to_delete"
                                                                 value="{{ task.id }}"/>
{#                                                          <a class="btn pull-right btn-default" onclick="editTask('{{ task.id }}');">Edit</a>#}
                                                          <a class="btn pull-right btn-danger" style="margin-right: 10px;"
                                                             onclick="deleteTask('{{ task.id }}');"><i
                                                    class="glyphicon glyphicon-trash"></i></a>
                                                      </form>
                          </td>
                          <td class="center"><a class="btn pull-right btn-default" onclick="editTask('{{ task.id }}');">Edit</a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Panel Widget -->
              </div>

                                                </div>
{#                                                <div class="row mgtp-15 mgbt-xs-0">#}
{#                                                    <div class="col-xs-6"> <a role="button" href="/tasks/" class="btn vd_btn vd_bg-green">View All</a> </div>#}
{#                                                    <div class="col-xs-6 text-right"> <a role="button" href="#" class="btn vd_btn vd_bg-grey"><i class="icon-trash"></i></a> </div>#}
{#                                                  </div>#}
                                                 {% else %}
                                                <div class="row mgtp-15 mgbt-xs-0">
                                                    <div class="col-xs-6">
{#                                                        <a role="button" href="/tasks/" class="btn vd_btn vd_bg-green">Add a Task</a> #}
                                                        No tasks available.
                                                    </div>
{#                                                    <div class="col-xs-6 text-right"> <a role="button" href="#" class="btn vd_btn vd_bg-grey"><i class="icon-trash"></i></a> </div>#}
                                                  </div>
                                              {% endif %}
                                              </div>
                                            </div>
                                        <!-- Panel Widget -->

                                    </div>
                                    <!-- col-sm-8 -->
                                </div>
                                <!-- row -->

                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->
        </div>
        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>
     <div class="modal fade" id="addTodoModal" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <a class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>
                                <!-- patch2 -->
                                <h4 class="modal-title">Add Task</h4>

                                <form action="." method="POST">
                                    {% csrf_token %}

                                    <!-- seth -->
                                    <div class="form-group">


                                        <label>Task:</label>

                                        {{ task_form.subject }}
                                        {% if not profile.type == "Professional" %}
                                        <select id="subjectSub" name="subjectSub" class="form-control">
                                        <option value="Select" selected="selected">Select a task</option>
                                           <optgroup label = "12+ months before">
                                        <option value="Envision your wedding budget.">Envision your wedding budget.</option>
                                        <option value="Invite 'planning team' on YapJoy">Invite 'planning team' on YapJoy</option>
                                        <option value="Plan guest list. Create YapJoy Groups">Plan guest list. Create YapJoy Groups</option>
                                        <option value="Look for ceremony & reception sites.">Look for ceremony & reception sites.</option>
                                        <option value="Create a 'Wedding Party' Group.">Create a 'Wedding Party' Group.</option>
                                        <option value="Time for an engagement party?">Time for an engagement party?</option>
                                               </optgroup>
                                            <optgroup label = "8-10 months before">
                                        <option value="Bride: Shop for, & order your gown.">Bride: Shop for, & order your gown.</option>
                                        <option value="Envision reception food.">Envision reception food.</option>
                                        <option value="Arrange for Music Entertainment.">Arrange for Music Entertainment.</option>
                                        <option value="Connect with wedding Professionals">Connect with wedding Professionals</option>
                                        <option value="Connect with wedding Professionals Connect with  photographers">Connect with wedding Professionals Connect with  photographers</option>
                                        <option value="Connect with videographers">Connect with videographers</option>
                                        <option value="Connect with reception band or DJs">Connect with reception band or DJs</option>
                                        <option value="Connect with & Search Florist">Connect with & Search Florist</option>
                                        <option value="Research a wedding insurance policy.">Research a wedding insurance policy.</option>
                                        <option value="Accommodations for out-of-towners.">Accommodations for out-of-towners.</option>
                                        <option value="Register for gifts.">Register for gifts.</option>
                                        <option value="Arrange rental companies.">Arrange rental companies.</option>
                                               </optgroup>
                                            <optgroup label = "6-8 months before">
                                        <option value="Book ceremony musicians.">Book ceremony musicians.</option>
                                        <option value="Order bridesmaid dresses.">Order bridesmaid dresses.</option>
                                        <option value="Start planning honeymoon.">Start planning honeymoon.</option>
                                        <option value="Send save-the-date via YapJoy Email.">Send save-the-date via YapJoy Email.</option>
{#                                        <option value="aaaaaa">aaaaaaaa</option>#}
                                               </optgroup>
                                            <optgroup label = "4-6 months before">
                                        <option value="Attend prewedding counseling.">Attend prewedding counseling.</option>
                                        <option value="Shop for invitations">Shop for invitations</option>
                                        <option value="Shop for wedding rings.">Shop for wedding rings.</option>
                                        <option value="Shop for formalwear.">Shop for formalwear.</option>
                                        <option value="Renew or get passports, if necessary.">Renew or get passports, if necessary.</option>
                                        <option value="Envision your wedding cake.">Envision your wedding cake.</option>
                                               </optgroup>
                                             <optgroup label = "3 months before">
                                        <option value="Order wedding cake.">Order wedding cake.</option>
                                        <option value="Attend your shower.">Attend your shower.</option>
                                        <option value="Groom: Rent the men's formalwear.">Groom: Rent the men's formalwear.</option>
                                        <option value="Hire wedding-day transport">Hire wedding-day transport</option>
                                               </optgroup>
                                             <optgroup label = "2 months before">
                                        <option value="Add guests to your Wedding Event">Add guests to your Wedding Event</option>
                                        <option value="Write your vows.">Write your vows.</option>
                                        <option value="Purchase gifts for parents & guests">Purchase gifts for parents & guests</option>
                                        <option value="Look for hair stylist.">Look for hair stylist.</option>
                                        <option value="Book makeup and go for a trial run.">Book makeup and go for a trial run.</option>
                                               </optgroup>
                                             <optgroup label = "1 month before">
                                        <option value="Apply for a marriage license. ">Apply for a marriage license. </option>
                                        <option value="Bride: Have final gown fitting.">Bride: Have final gown fitting.</option>
                                        <option value="See if bridesmaids gowns are ready.">See if bridesmaids gowns are ready.</option>
                                        <option value="Create wedding program for guests.">Create wedding program for guests.</option>
                                        <option value="Gift baskets for out-of-town guests.">Gift baskets for out-of-town guests.</option>
                                               </optgroup>
                                             <optgroup label = "2 weeks before">
                                        <option value="Review RSVPs on YapJoy dashboard">Review RSVPs on YapJoy dashboard</option>
                                        <option value="Send guests reminders to RSVP">Send guests reminders to RSVP</option>
                                        <option value="Send shot lists to photographer">Send shot lists to photographer</option>
                                        <option value="Send shot lists to videographer">Send shot lists to videographer</option>
                                        <option value="Deliver final song list to your DJ">Deliver final song list to your DJ</option>
                                        <option value="Bride: Get your last haircut & color.">Bride: Get your last haircut & color.</option>
                                               </optgroup>
                                             <optgroup label = "1 week before">
                                        <option value="Give reception site final head count.">Give reception site final head count.</option>
                                        <option value="Give caterer final guest head count.">Give caterer final guest head count.</option>
                                        <option value="Print place and table cards.">Print place and table cards.</option>
                                        <option value="Call all wedding vendors to confirm.">Call all wedding vendors to confirm.</option>
                                        <option value="Groom: Get your hair trimmed.">Groom: Get your hair trimmed.</option>
                                        <option value="Attend bachelor/ette parties.">Attend bachelor/ette parties.</option>
                                               </optgroup>
                                             <optgroup label = "2-3 days before">
                                        <option value="Bride: Have your gown pressed.">Bride: Have your gown pressed.</option>
                                        <option value="Groom: Go for formalwear final fitting. ">Groom: Go for formalwear final fitting. </option>
                                        <option value="Groom: Get groomsmen fitted">Groom: Get groomsmen fitted</option>
                                        <option value="Determine wedding-party order">Determine wedding-party order</option>
                                        <option value="Reconfirm final details with all vendors">Reconfirm final details with all vendors</option>
                                        <option value="Confirm details with limousine">Confirm details with limousine</option>
                                        <option value="Arrange for guests airport pickup">Arrange for guests airport pickup</option>
                                               </optgroup>
                                             <optgroup label = "Day before">
                                        <option value="Give emergency contact to all vendors.">Give emergency contact to all vendors.</option>
                                        <option value="Pay off any final balances">Pay off any final balances</option>
                                               </optgroup>
                                             <optgroup label = "Night before">
                                        <option value="Rehearse ceremony. ">Rehearse ceremony. </option>
                                        <option value="Give marriage license to officiant.">Give marriage license to officiant.</option>
                                        <option value="Attend rehearsal dinner.">Attend rehearsal dinner.</option>
                                               </optgroup>
                                             <optgroup label = "Postwedding">
                                        <option value="Prearrange for rental returns">Prearrange for rental returns</option>
                                        <option value="Write and send thank-you notes">Write and send thank-you notes</option>
                                        <option value="Take lots of photos & share on YapJoy">Take lots of photos & share on YapJoy</option>
                                               </optgroup>

                                        </select>
                                        {% endif %}
                                        <div class="red">{{ task_form.subject.errors }}</div>

                                    </div>
                                    <div class="form-group due">

                                        <label>Due:</label>
                                        <i class="fa fa-calendar"></i>
                                        {{ task_form.due|addcss:"form-control datetime-picker" }}
                                        <div class="red">{{ task_form.due.errors }}</div>
                                    </div>
                                    {% if not profile.type == "Professional" %}
                                            <div class="form-group">
                                            <label>Assign:</label>
                                        </div>
                                             <div class="form-group" style="width:100%">

                                                 <select multiple="multiple" class="form-control" data-placeholder="Choose"
                                                                            name="assigned_to_add" id="assigned_to_add">
                                                 {% for friend in friends %}


                                                     {% if friend.user == request.user %}

                                                         <option  value="{{ friend.friends.user.id }}">{{ friend.friends.user.get_full_name }}</option>
                                                                        {% else %}
                                                                            <option value="{{ friend.user.id }}">{{ friend.user.get_full_name }}</option>
                                                                        {% endif %}
                                                      <div class="clearfix"></div>
                                                                        {% endfor %}
                                                                    </select>
                                        </div>
                                         <div class="clearfix"></div>
                                        {% endif %}
                                    <div class="form-group">
                                        <label>Notes:</label>
                                        {{ task_form.notes }}
                                        <div class="red">{{ task_form.notes.errors }}</div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12 margin-top-10">
                                            <button type="submit" class="btn btn-blue pull-right">Create</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>

                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <div class="modal fade" id="edit_task_modal" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="height:410px;">
                            <div class="modal-body">
                                <a class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>
                                <!-- patch2 -->
                                <h4 class="modal-title" style="padding-bottom: 0px; margin-bottom: 0px;">Edit Task</h4>
                                <iframe id="edit_task_iframe" src="" width="100%" style="height: 374px;"></iframe>

                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>


                <div class="modal fade" id="editTaskModal" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body" id="editTaskBody">
                                <a class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>
                                <h4 class="modal-title">View Task</h4>

                                <form id="editForm" data-id="167">
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-blue" id="editTaskSubmitBtn">Save</button>
                                <!-- <button type="button" class="btn btn-gray" data-dismiss="modal">OK</button> -->
                                <button style="display:none" type="button" class="btn btn-blue" id="editTaskSubmitBtn">
                                    Save
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
{% endblock content %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.events.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src='{% static "vendroid/js/jquery.dashboard.js" %}'></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <link href="{% static "vendroid/plugins/dataTables/css/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/dataTables/css/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css"
    <script type="text/javascript" src="{% static "vendroid/plugins/dataTables/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendroid/plugins/dataTables/dataTables.bootstrap.js" %}"></script>

    <script type="text/javascript">
            $(document).ready(function() {


                    $('#data-tables').dataTable();
            } );
    </script>
    <!-- Specific Page Scripts Put Here -->
    <script type="text/javascript"
            src='{% static "vendroid/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" %}'></script>
    <script>


     {% if task_form.errors %}
            $("#addTodoModal").modal('show');
        {% endif %}

        function editTask(id){
            var url = '/tasks/edit/'+id
            $('#edit_task_modal').modal('show');
            $("#edit_task_iframe").attr('src',url);
        }

        function completeTask(id){
          //  alert(id);

            $.ajax({
                        url: '/tasks/complete/', // the endpoint
                        type: 'post', // http method
                        data: {id:id}, // data sent with the post request

                        // handle a successful response
                        success: function (response) {
                            //alert("success"); // another sanity check
                            if (response == "success") {
                                $('#list_task_'+id).attr('hidden','hidden');
                                var task_id = '#complete_task_'+id;
                                $(task_id).removeClass('fa fa-circle-o fa-lg')
                                        .attr('class','fa fa-check fa-lg')
                                        .addClass('success_green');
                                $('#delete_bin_'+id).addClass('success_green');
                                $('#task_subject_'+id).addClass('success_green');
                            }
                            if (response == "successFalse"){
                                $('#list_task_'+id).attr('hidden','hidden');
                                var task_id = '#complete_task_'+id;
                                $(task_id).removeClass('fa fa-check fa-lg')
                                        .attr('class','fa fa-circle-o fa-lg')
                                        .removeClass('success_green');
                                $('#delete_bin_'+id).removeClass('success_green');
                                $('#task_subject_'+id).removeClass('success_green');
                            }


                        },

                        // handle a non-successful response
                        error: function (xhr, errmsg, err) {
{#                            alert(err, errmsg);#}
                        }
                    });

        }

        function deleteTask(id) {
            bootbox.confirm("<h3>Are you sure you wish to delete this task?</h3>", function (result) {
                if (!result) return;
                else {
                    var formID = '#taskDeleteForm_' + id;
                    $.ajax({
                        url: $(formID).attr('action'), // the endpoint
                        type: $(formID).attr('method'), // http method
                        data: $(formID).serialize(), // data sent with the post request

                        // handle a successful response
                        success: function (response) {
                            //alert("success"); // another sanity check
                            if (response == "success") {
                                $('#list_task_' + id).attr('hidden', 'hidden');
                            }

                        },

                        // handle a non-successful response
                        error: function (xhr, errmsg, err) {

                        }
                    });
                }
            });


        }
        ;
        $('#subjectSub').on('change',function(){
            $('#id_subject').val($(this).val());
        });
     setTimeout(function(){
        $(document).ready(function(){
        if($("#assigned_to_add").length > 0){
            $("#assigned_to_add").chosen();
        };
    });
    }, 4000);
    </script>


    <!-- Specific Page Scripts END -->

{% endblock script %}
