{% extends "vendroid/base.html" %}
{% load myfilters %}
{% load wysiwyg %}
{% load url from future %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="vd_body">
        <!-- Header Start -->
       {% include "vendroid/partial/_header.html" %}
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                {% include "vendroid/partial/_sidebar.html" %}

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                               <div class="vd_panel-header">
              <ul class="breadcrumb">
                <li><a href="/forum/">Yapper</a>  </li>
                <li><a href="/forum/{{ forum.id }}">{{ forum.title }}</a></li>
{#                  <a  href="/forum/topic/{{ topic.id }}"></a>#}
              </ul>
            </div>

                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header no-subtitle">
                                    <h1>Start New Topic</h1>
                                </div>
                            </div>
                            <div class="vd_content-section clearfix">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6">


 <form method="post" id="composeForm" action="." enctype="multipart/form-data">
            {% csrf_token %}

                  <div class="panel-body">
                    <form class="form-horizontal" role="form" action="#">
                      <div class="form-group clearfix">
                        <label class="col-sm-2 control-label">Title</label>

                        <div class="col-sm-10 controls">
                        {{ form.title|addcss:'input-border-btm'}}
                            <p style="color: red;">{{ form.title.errors.0 }}</p>

                        </div>
                      </div>
                        <div class="form-group clearfix">
                        <label class="col-sm-2 control-label">Image</label>

                        <div class="col-sm-10 controls">
                        {{ form.picture|addcss:'input-border-btm'}}
                            <p style="color: red;">{{ form.picture.errors.0 }}</p>

                        </div>
                      </div>

                      <div class="form-group  clearfix">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10 controls">
                            {% wysiwyg_setup %}
                        {{ form.description|addcss:'input-border-btm'}}
                            {% wysiwyg_editor "id_description" %}

                     <p style="color: red;">{{ form.description.errors.0 }}</p>

{#                          <input type="text" id="subject-input" class="input-border-btm" placeholder="Subject Title">#}
                        </div>
                      </div>


                      <div class="form-group form-actions">
                        <div class="col-sm-12">
                          <button type="submit" class="btn vd_btn vd_bg-green vd_white pull-right" id="createBtn"><i class="fa fa-envelope append-icon"></i> Create</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <!-- panelbody  -->
                  </form>



                                        </div>

                                    </div>
                                    <!-- col-md-x -->
                                </div>
                                <!-- row -->

                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->

        <!-- .content -->

        <!-- Footer Start -->
        <footer class="footer-1" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright">
                                Copyright &copy;2015 YapJoy Inc. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
        <!-- Footer END -->


    </div>

{% endblock content %}
{% block script %}
    <script type="text/javascript" src='{% static "vendroid/plugins/sparkline/jquery.sparkline.min.js" %}'></script>
    <script>
        rsvp = {{ profile.rsvp_count|default_if_none:0 }};
        invites = {{ profile.invitation_count|default_if_none:0 }};
        $("#seo-sparkline").sparkline([invites,rsvp], {
            type: 'pie',
            height: '25px',
            sliceColors: ['#2e8258','#4abc96','#1FAE66']
		});


    </script>
{% endblock script %}