{% extends 'bayareaweddingfairs/site/base/base_inner_layout.html' %}
{% load static %}
{% load myfilters %}

{% block title %}
    VENDOR REGISTRATION
{% endblock title %}

{% block css_links %}
{#    <link href={% static "css/jquery.datetimepicker.css" %} rel="stylesheet" type="text/css" media="all"/>#}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link href="{% static "bawf/css/forms.css" %}" rel="stylesheet">
    <style>
        .white {
            color: white;
        }
    </style>
    <style>
        .red {
            color: red;
        }

        textarea {
            height: 30px;
        }

        ul li {
            display: inline;
            margin-right: 15px;
        }

        .categories-css ul {
            margin-left: -40px;
        }

    </style>
{% endblock css_links %}

{% block content %}

    <!-- WRAPPER -->
    <div class="wrapper">

        <section class="page-title-parallax fullscreen" style="background-color: #CCCCCC;">
            <div class="container container-fullscreen">
                <div class="text-middle">
                     <form  id="id_form_reg" action="." method="post"
                                  role="form">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 p-30 background-white">
                            <div class="col-md-12 m-t-20 text-center">
                                <h3>APPLY NOW TO BECOME AN EXHIBITOR</h3>

                            </div>
                            <div class="col-md-12 m-t-10 text-center">
                               

                                 <div class="hr-title hr-long center"><abbr>Registration Form</abbr> </div>
                            </div>
{#                            <div class="col-sm-12 form-group">#}
                                <div class="col-md-12 form-group">
                                    <div class="form-group">
                                        &nbsp;<b>Wedding Fair(s) Interested In (Please Select)<b style="color:red">*</b></b>
                                        {% for event in events %}
                                                                                        {% include "vendroid/CRM/_season_events.html" %}
                                                                                    {% endfor %}
                                    {% if eventsCheck %}
                                                                                            <div class="red">Please
                                                                                                select at least an
                                                                                                event
                                                                                            </div>
                                                                                        {% endif %}
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
{#                            </div>#}

                            <div class="col-md-6 form-group">
                                {#                                <label class="sr-only">First Name</label>#}
                                {{ form.name|addcss:"form-control input-lg" }}
                                {% if form.name.errors %}
                                    <div class="red">{{ form.name.errors.0 }}</div>
                                {% endif %}
                            </div><div class="col-md-6 form-group">
                            {#                            <label class="sr-only">Last Name</label>#}
                            {{ form.business_name|addcss:"form-control input-lg" }}
                            {% if form.business_name.errors %}
                                <div class="red">
                                    {{ form.business_name.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                            <div class="col-md-6 form-group">
                                {#                                <label class="sr-only">Username</label>#}
                                {{ form.phone|addcss:"form-control input-lg" }}
                                {% if form.phone.errors %}
                                    <div class="red">
                                        {{ form.phone.errors.0 }}
                                    </div>
                                {% endif %}
                            </div><div class="col-md-6 form-group">
                            {#                            <label class="sr-only">Password</label>#}
                            {{ form.email|addcss:"form-control input-lg" }}
                            <div id="error_zip" class="red"></div>
                            {% if form.email.errors %}
                                <div class="red">{{ form.email.errors.0 }}</div>
                            {% endif %}

                        </div>

                            <div class="col-md-6 form-group">
                                {{ form.city|addcss:"form-control input-lg" }}
                                {% if form.city.errors %}
                                    <div class="red">{{ form.city.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.zip|addcss:"form-control input-lg" }}
                                <div id="error_phone" class="red"></div>
                                {% if form.zip.errors %}
                                    <div class="red">{{ form.zip.errors.0 }}</div>{% endif %}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.categories|addcss:"form-control input-lg" }}
                                {% if form.categories.errors %}
                                    <div class="red">
                                        {{ form.categories.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="form-control input-lg"
                                        id="id_how_heard"
                                        name="how_heard">
                                    <option value="">How did you hear about us?*
                                    </option>
                                    <option {% if how_heard == "Facebook" %}selected{% endif %} value="Facebook">
                                        Facebook
                                    </option>
                                    <option {% if how_heard == "Radio" %}selected{% endif %} value="Radio">
                                        Radio
                                    </option>
                                    <option {% if how_heard == "TheKnot" %}selected{% endif %} value="TheKnot">
                                        TheKnot
                                    </option>
                                    <option {% if how_heard == "Google" %}selected{% endif %} value="Google">
                                        Google
                                    </option>
                                    <option {% if how_heard == "Here comes the guide" %}selected{% endif %} value="Here comes the guide">
                                        Here comes the guide
                                    </option>
                                    <option {% if how_heard == "Friends & Family" %}selected{% endif %} value="Friends &amp; Family">
                                        Friends &amp; Family
                                    </option>
                                    <option {% if how_heard == "Other" %}selected{% endif %} value="Other">
                                        Other
                                    </option>
                                </select>
                                {% if form.how_heard.errors %}
                                                                                        <div class="red">{{ form.how_heard.errors.0 }}</div>
                                                                                    {% endif %}
                            </div>
                         <div class="col-md-6 form-group">
                                {{ form.website|addcss:"form-control input-lg" }}
                                {% if form.website.errors %}
                                    <div class="red">
                                        {{ form.website.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-12 form-group">
                                 <b>Comments</b>
                                                        <div class="">
                                                            {{ form.comments|addcss:"form-control input-lg" }}
                                                            {% if form.comments.errors %}
                                                                <div class="red">{{ form.comments.errors }}</div>
                                                            {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <p style="font-size:20px;color:grey;">
                                                <label> By clicking Submit button, you agree to our <a href="{% url "index__PrivacyPolicy" %}" target="_blank" style="color: #337ab7;">Privacy Policy</a></label>
                                            </p>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" type="submit">Submit </button>
                            </div>

                        </div>


                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                     </form>
            </div>
        </section>

    </div>
    <!-- END: WRAPPER -->
    <!-- GO TOP BUTTON -->
{% endblock content %}
{% block jquery_links %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock jquery_links %}
{% block jquery_page_scripts %}
    <script>
        $(function () {
            $('#id_phone').mask('(000) 000-0000');
        });
    </script>

    <script>
    $('#id_comments').attr('cols','20')
    </script>
{% endblock jquery_page_scripts %}
