{% load static %}
{% load myfilters %}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html><!--<![endif]-->

<!-- Specific Page Data -->

<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>YapJoy - An Intelligent Way to Plan Stress Free Wedding online</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid" />
    <meta name="description" content="Login Pages - Responsive Admin HTML Template">
    <meta name="author" content="Venmond">
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "vendroid/img/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "vendroid/img/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "vendroid/img/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "vendroid/img/ico/apple-touch-icon-57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
    
    
    <!-- CSS -->
       
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="{% static "vendroid/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="{% static "vendroid/css/font-awesome-ie7.min.css" %}"><![endif]-->
    <link href="{% static "vendroid/css/font-entypo.css" %}" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="{% static "vendroid/css/fonts.css" %}"  rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static "vendroid/plugins/jquery-ui/jquery-ui.custom.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/prettyPhoto-plugin/css/prettyPhoto.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/isotope/css/isotope.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/pnotify/css/jquery.pnotify.css" %}" media="screen" rel="stylesheet" type="text/css">
	<link href="{% static "vendroid/plugins/google-code-prettify/prettify.css" %}" rel="stylesheet" type="text/css">


    <link href="{% static "vendroid/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/tagsInput/jquery.tagsinput.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/bootstrap-switch/bootstrap-switch.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/daterangepicker/daterangepicker-bs3.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/plugins/colorpicker/css/colorpicker.css" %}" rel="stylesheet" type="text/css">

	<!-- Specific CSS -->


    <!-- Theme CSS -->
    <link href="{% static "vendroid/css/theme.min.css" %}" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="{% static "vendroid/css/ie.css" %}" rel="stylesheet" > <![endif]-->
    <link href="{% static "vendroid/css/chrome.css" %}" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->



    <!-- Responsive CSS -->
        	<link href="{% static "vendroid/css/theme-responsive.min.css" %}" rel="stylesheet" type="text/css">

	  
 
 
    <!-- for specific page in style css -->
        
    <!-- for specific page responsive in style css -->
        
    
    <!-- Custom CSS -->
    <link href="{% static "vendroid/custom/custom.css" %}" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="{% static "vendroid/js/modernizr.js" %}"></script>
    <script type="text/javascript" src="{% static "vendroid/js/mobile-detect.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendroid/js/mobile-detect-modernizr.js" %}"></script>
 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{% static "vendroid/js/html5shiv.js" %}"></script>
      <script type="text/javascript" src="{% static "vendroid/js/respond.min.js" %}"></script>
    <![endif]-->
    
</head>    

<body id="pages" class="full-layout no-nav-left no-nav-right  nav-top-fixed background-login     responsive remove-navbar login-layout   clearfix" data-active="pages "  data-smooth-scrolling="1">     
<div class="vd_body">
<!-- Header Start -->

<!-- Header Ends --> 
<div class="content">
  <div class="container"> 
    
    <!-- Middle Content Start -->
    
    <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">
          <div class="vd_content-section clearfix">
            <div class="vd_login-page">
              <div class="heading clearfix">
                <div class="logo">
                  <h2 class="mgbt-xs-5"><img src="{% static "images/unnamed_2.png" %}" class="width-60" alt="logo"></h2>
                </div>
                <h4 class="text-center font-semibold vd_grey">Forgot Password</h4>
              </div>
              <div class="panel widget">
                <div class="panel-body">
  <div class="login-icon"><i class="fa fa-lock"></i></div>
                  <form class="form-horizontal" action="" method="post" role="form">
                  {% csrf_token %}
                                    <div class="alert alert-danger vd_hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
                  <div class="alert alert-success vd_hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                    <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong>Well done!</strong>. </div>
                    <div class="form-group  mgbt-xs-20">
                      <div class="col-md-12">
                      <p class="text-center"><strong>Provide your email below to reset your password.</strong> </p>
                      {% if form.email.errors %}<p class="text-center alert alert-danger"><strong>{{ form.email.errors.0 }}</strong> </p>{% endif %}
                      {% if success_message %}<div class="alert alert-success">{{ success_message }}</div>{% endif %}
                          <div class="vd_input-wrapper" id="email-input-wrapper">
                                        <span class="menu-icon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        {{ form.email|addcss:'required' }}
{#                                        <input type="email" placeholder="Email" id="email" name="email" class="required">#}
                                    </div>

                      </div>
                    </div>
                      <div class="form-group" id="submit-password-wrapper">
                              <div class="col-md-12 text-center mgbt-xs-5">
                                  <input class="btn vd_bg-green vd_white width-100" type="submit" id="submit-password" name="submit-password" value="Send Verification"/>
                              </div>

                            </div>

                  </form>
                </div>
              </div>
              <!-- Panel Widget -->
                <div class="register-panel text-center font-semibold">
                	<a href="/login/">LOGIN</a> <span class="mgr-10 mgl-10">|</span>
                    <a href="/register/">REGISTER AN ACCOUNT</a>
                </div>
            </div>
            <!-- vd_login-page --> 
            
          </div>
          <!-- .vd_content-section --> 
          
        </div>
        <!-- .vd_content --> 
      </div>
      <!-- .vd_container --> 
    </div>
    <!-- .vd_content-wrapper --> 
    
    <!-- Middle Content End --> 
    
  </div>
  <!-- .container --> 
</div>
<!-- .content -->

<!-- Footer Start -->
  <footer class="footer-2"  id="footer">      
    <div class="vd_bottom ">
        <div class="container">
            <div class="row">
              <div class=" col-xs-12">
                <div class="copyright text-center">
                  	Copyright &copy;2014 Venmond Inc. All Rights Reserved 
                </div>
              </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>
  </footer>
<!-- Footer END -->

</div>

<!-- .vd_body END  -->
<a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
<!--
<a class="back-top" href="#" id="back-top"> <i class="icon-chevron-up icon-white"> </i> </a> -->

<!-- Javascript =============================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="{% static "vendroid/js/jquery.js" %}"></script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="{% static "vendroid/js/excanvas.js" %}"></script>
<![endif]-->
<script type="text/javascript" src="{% static "vendroid/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src='{% static "vendroid/plugins/jquery-ui/jquery-ui.custom.min.js" %}'></script>
<script type="text/javascript" src="{% static "vendroid/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js" %}"></script>

<script type="text/javascript" src="{% static "vendroid/js/caroufredsel.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/js/plugins.js" %}"></script>

<script type="text/javascript" src="{% static "vendroid/plugins/breakpoints/breakpoints.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/plugins/dataTables/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js" %}"></script>

<script type="text/javascript" src="{% static "vendroid/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/plugins/tagsInput/jquery.tagsinput.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/plugins/bootstrap-switch/bootstrap-switch.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/plugins/blockUI/jquery.blockUI.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/plugins/pnotify/js/jquery.pnotify.min.js" %}"></script>

<script type="text/javascript" src="{% static "vendroid/js/theme.js" %}"></script>
<script type="text/javascript" src="{% static "vendroid/custom/custom.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68785620-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>