{#<div class="vd_navbar vd_nav-width vd_navbar-email vd_bg-black-80  vd_navbar-style-2 vd_navbar-left ">#}
<div class="vd_navbar vd_nav-width vd_navbar-email vd_navbar-style-2 vd_navbar-left ">
	<div class="navbar-menu clearfix ">
    	<h3 class="menu-title "><a href="/messages/compose/" class="btn vd_btn vd_bg-blue"><span class="append-icon"><i class="icon-feather"></i></span>Compose</a></h3>
        <div class="vd_menu">
        	<ul>
                <li class="line vd_bd-grey"></li>
                <li>
                    <a href="/messages/">
                        <span class="menu-icon entypo-icon"><i class="icon-mail"></i></span>
                        <span class="menu-text">Inbox</span>
                        <span class="menu-badge"><span class="badge vd_bg-red"></span></span>
                    </a>
                </li>
                <li>
                    <a href="/messages/draft/">
                        <span class="menu-icon"><i class="fa fa-archive"></i></span>
                        <span class="menu-text">Drafts</span>
                        <span class="menu-badge"><span class="badge vd_bg-red"></span></span>
                    </a>
                </li>
                <li>
                    <a href="/messages/sent/">
                        <span class="menu-icon entypo-icon"><i class="icon-paperplane"></i></span>
                        <span class="menu-text">Sent</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-spacing clearfix">
    </div>
</div>