<div class="vd_navbar vd_nav-width vd_navbar-chat vd_bg-black-80 vd_navbar-right" id="chatPane">
<div class="navbar-tabs-menu clearfix">
<span class="expand-menu" data-action="expand-navbar-tabs-menu">
    <span class="menu-icon menu-icon-left">
        <i class="fa fa-ellipsis-h"></i>
        <span class="badge vd_bg-red">
            20
        </span>
    </span>
    <span class="menu-icon menu-icon-right">
        <i class="fa fa-ellipsis-h"></i>
        <span class="badge vd_bg-red">
            20
        </span>
    </span>
</span>
<div class="menu-container">
     <div class="navbar-search-wrapper">
<div class="navbar-search vd_bg-black-30">
<form action="/directory/" method="get" id="chatListSearch">
    <a href="#" onclick="chatListSearch.submit()"><span class="append-icon"><i class="fa fa-search"></i></span></a>
    <input type="text" id="chatSearchTerm" placeholder="Search" class="vd_menu-search-text no-bg no-bd vd_white width-70" name="name">
</form>
</div>
</div>
</div>

</div>
<div class="navbar-menu clearfix">
<div class="content-list content-image content-chat">
<ul class="list-wrapper no-bd-btm pd-lr-10" id="chatUserList">

</ul>
</div>


</div>
<div class="navbar-spacing clearfix">
</div>
</div>
