{% extends 'bayareaweddingfairs/site/base/home_base.html' %}
{% load static %}

{% block title %}
    Bay Area WeddingFairs | home
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static "bawf/css/slider.css" %}" media="screen" />
{% endblock css_links %}

{% block content %}

    {% include "bayareaweddingfairs/site/home/_slider.html" %}

    <!-- WHAT WE DO -->
    <section class="background-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box effect medium border center" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h3>PLANNING</h3>
                        <p>Bay area wedding fairs is your portal to planning for your wedding day and beyond. At our shows, you will find everything you need from starting the planning process with budgeting, finding a wedding venue and bridal gown to booking wedding photographer, florist, caterer, dj and more.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="icon-box effect medium border center" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h3>SHOPPING</h3>
                        <p>Our fairs are one stop shop for all your planning needs from beginning to end. From booking your venue to finalizing details before your wedding with wedding decor, gifts  favors and even help with honeymoon travel. Our preferred partner vendors are the cream of the crop! They exhibit at most of our shows and offer show specials. Make sure you attend their booths at our fairs and enter to win their season's grand prizes.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="icon-box effect medium border center" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h3>SAVINGS</h3>
                        <p>Bay area wedding fairs is the only wedding fair in the bay area that offers las vegas getaways and thousands of dollars in wedding package prizes. With upto $10,000 wedding package and many discounts on wedding services and products. Plus the fun and adventure of a true fair shopping experience.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END WHAT WE DO -->


    <!-- SECTION PARALLAX -->
    <section class="parallax p-t-150 p-b-150 background-overlay-dark entertainment-image" data-stellar-background-ratio="0.01">
        <div class="container clearfix">

            <div class="col-md-12 text-center text-light">
                <h1 class="heading-jumbo">ENTERTAINMENT, FUN & PRIZES</h1>
                <p class="lead">... FOR YOUR ENTIRE WEDDING PARTY</p>
                <a class="button border full-rounded  color button-3d effect icon-left" href="#fairs-section" style="margin-right:0px;">
                    <span><i class="fa fa-tint"></i>FIND A FAIR NEAR YOU</span>
                </a>
            </div>
        </div>
    </section>
    <!-- END: SECTION PARALLAX -->



    <!-- COUNTERS -->
    <section class="bawf-counter-section parallax text-light p-t-150 p-b-150 background-overlay" style="background-image: url(https://dlzm0e7zegsau.cloudfront.net/static/bawf/theme/images/2560x1440-davys-grey-solid-color-background.jpg);" data-stellar-background-ratio="0.6">
        <div class="container">
            <h3 class="text-center">SINCE 2002, AT BAY AREA WEDDING FAIRS</h3>
            <hr class="space">
            <div class="row">
                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-trophy"></i></div>
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="11034" data-from="600" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>COUPLES WON PRIZES</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-hand-peace-o"></i></div>
                        <div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="15827" data-from="100" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>WEDDING PROFESSIONALS HAVE EXHIBITED</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-dollar"></i></div>
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="1600500" data-from="50" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>$ IN WEDDING PRIZES, DISCOUNTS & FREE TRAVEL</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-cutlery"></i></div>
                        <div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="352023" data-from="48" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>SAMPLES OF FOOD AND WINE SAMPLES SERVED</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: COUNTERS -->

    <!-- Testimonial Transparent  -->
    <section class="text-light" style="background: url('https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/new1.jpg');" data-stellar-background-ratio="0.4">
        <div class="container">
            <h1 class="heading-jumbo text-center">WHAT THEY SAY</h1>
            {#                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.</p>#}
            <hr class="space">
            <!-- Testimonial Simple -->
            <div class="row">
                <div class="col-md-4 carousel" data-carousel-col="1">

                    <div class="testimonial testimonial-simple">
                        <div class="testimonial-image">
                            <img class="round" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/c1.png" alt="image">
                            <h4>Regina & P.J.</h4>
                        </div>

                        <div class="testimonial-description">
                            <p>" We found everything from venues, flowers to photography and video at Bay Area Wedding Fairs. Its a great resource. "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">
                        <div class="testimonial-image">
                            <img class="round" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/c2.jpg" alt="image">
                            <h4>Jillian and Joe</h4>
                        </div>
                        <div class="testimonial-description">
                            <p>" Thank you for making our Dream Wedding come true ! Bay Area Wedding Fairs is No. 1 "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">

                        <div class="testimonial-image">
                            <img class="round" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/Untitled6.jpg" alt="image">
                            <h4>Bride to be</h4>
                        </div>
                        <div class="testimonial-description">

                            <p>" I would highly recommend Bay Area Wedding Fairs. You get ideas, style and meet vendors you have not imagined. Just come and enjoy! "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">

                        <div class="testimonial-image">
                            <img class="round" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/Untitled-3.jpg" alt="image">
                            <h4>Kate & Ryan</h4>
                        </div>
                        <div class="testimonial-description">

                            <p>" A whole bunch prizes at the Bay Area Wedding Fairs. We won the $10,000 Wedding Package. Still cant believe it. It has everything ! "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">

                        <div class="testimonial-image">
                            <img class="round" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/c7.jpg" alt="image">
                            <h4>Erika & Jared</h4>
                        </div>
                        <div class="testimonial-description">

                            <p>" There is a lots of giveaways, vendors, food. And we won Las Vegas stay..Yaay!  "</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END: Testimonial Simple -->
        </div>
    </section>
    <!-- END: Testimonial Transparent -->

    <!-- youtube videos-->
    <section class="background-grey">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">VIDEO TESTIMONIALS</h2>
            </div>
            <div data-lightbox-type="gallery" class="row">
                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/Auz02ypxOWI/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=Auz02ypxOWI" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/3j-ye_z_SFA/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=3j-ye_z_SFA" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/b0atolvkOI4/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=b0atolvkOI4" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/6ZHf2C7QDLo/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=6ZHf2C7QDLo" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/DfEAjrOlCOU/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=DfEAjrOlCOU" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/LQvSRYNp2ZI/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=LQvSRYNp2ZI" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row text-center">
                <a class="button border full-rounded" href="https://www.youtube.com/channel/UCZ3gKBXXRkqWQqyVh-OCXxg" target="_blank"><span>More Videos</span></a>
            </div>

        </div>

    </section>
    <!--End Youtube videos-->

    <!-- SECTION -->
    <section id="fairs-section">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">UPCOMING EVENTS</h2>
            </div>
            <!--Addresses-->
            <div class="row m-b-60">
                <div class="col-md-12">
                    {% include "bayareaweddingfairs/site/ourShows/_shows.html" %}
                </div>
            </div>
            <!--END: Addresses-->
        </div>
    </section>
    <!-- END: SECTION -->

    <!-- SECTION PARALLAX -->
    <section class="section-register-exhibitor parallax p-t-150 p-b-150 background-overlay-dark largest-show" data-stellar-background-ratio="0.01" >
        <div class="container clearfix">
            <div class="col-md-12 text-center text-light">
                <h2 class="heading-jumbo text-center">BAY AREA’S LARGEST BRIDAL SHOWS !</h2>
            </div>

            <div class="col-md-6 text-center text-light">
                <h1>WEDDING PROFESSIONALS</h1>
                <a class="button border full-rounded  color button-3d effect icon-left" href="{% url "index__BecomeExhibitor" %}"><span>BECOME AN EXHIBITOR</span></a>
                <p class="lead">MEET OUR AWESOME COUPLES</p>
            </div>

            <div class="col-md-6 text-center text-light">
                <h1>BRIDES & GROOMS</h1>
                <a class="button border full-rounded  color button-3d effect icon-left" href="{% url "index__bride_groom_registration" %}"><span>FIND A WEDDING FAIR NEAR YOU</span></a>
                <p class="lead">GET YOUR TICKET TO WINNING<br/>

                    SHOPPING & PLANNING</p>
            </div>


        </div>
    </section>
    <!-- END: SECTION PARALLAX -->

    <!-- SHOP PARTNER VENDORS -->
    <section class="background-grey">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">SHOP PARTNER VENDORS</h2>
            </div>
            <div class="row">
                {% for shopItem in vendorShopsList %}
                    <div class="col-md-3">
                        <div class="image-box circle-image small"> <img class="" src="{% static shopItem.shop.shopVendorImage.url %}" alt=""> </div>
                        <div class="image-box-description text-center">
                            <p class="subtitle">{{ shopItem.shop }}</p>
                            <hr class="line">
                            {% for item in shopItem.itemsList %}
                                <a href="{% url 'index__storefrontItemDetail' id=item.id %}">{{ item }}</a><br />
                            {% endfor %}


                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- END: TEAM -->

    <!-- CLIENTS -->
    <section class="p-t-60">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">OUR PARTNERS</h2>
                <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
            </div>                <div class="carousel clients-carousel" data-carousel-col="6" data-carousel-margins="60" data-carousel-col-xs="2" data-carousel-autoplay="true">
            <div>
                <a href="http://www.eivans.com" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/eivans-color.png"> </a>
            </div>
            <div>
                <a href="https://www.legrandeaffaire.com/" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/legrand-1.jpg"> </a>
            </div>
            <div>
                <a href="http://www.levisstadium.com/" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/levis-1.jpg"> </a>
            </div>
            <div>
                <a href="http://weddingwire.com/" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/wedding-wire-1.jpg"> </a>
            </div>
            <div>
                <a href="http://www.josbank.com/" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/jos-a-bank.jpg"> </a>
            </div>
            <div>
                <a href="https://www.yapjoy.com" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/yapojay-1.jpg"> </a>
            </div>
            <div>
                <a href="http://www.menswearhouse.com/" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/MW-1.jpg"> </a>
            </div>
            <div>
                <a href="http://todaysbridesanfrancisco.com/" target="_blank"><img alt="" src="https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/static/bawf/images/content/today-bride-1.jpg"> </a>
            </div>

        </div>
        </div>

    </section>

    {% include "bayareaweddingfairs/site/ourShows/_detail.html" %}

{% endblock content %}

{% block jquery_links %}

    <!--Pages Plugin Links Goes Here-->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{% static "bawf/js/events.js" %}"></script>


{% endblock jquery_links %}
{% block jquery_page_scripts %}

    <!--Pages Plugin Links Goes Here-->
    <script type="text/javascript">
        var tpj = jQuery;

        var revapi30;
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null){
               return null;
            }
            else{
               return results[1] || 0;
            }
        }
        $(document).ready(function(){
            $("#slider-carousel").owlCarousel({
                autoplayTimeout:6000
            });
            var event_id = $.urlParam('event');
            if(event_id){
                get_information(event_id)
            }
        });

    </script>

{% endblock jquery_page_scripts %}