{% extends 'bayareaweddingfairs/site/base/home_base.html' %}
{% load static %}

{% block title %}
    Bay Area WeddingFairs | home
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static "bawf/css/slider.css" %}" media="screen" />
    <style>
        .blue{
            color: #26B8F3 !important;
        }
        .parallax{
            background-attachment: fixed !important;
            background-position: 0px 0px !important;
            background-size: 100% 100% !important;
{#            background-repeat: no-repeat !important;#}
        }
    .logo img{
        height:70px;
    }
    .sticky .logo img{
        height:70px;
    }
    a.list-group-item:hover, a.list-group-item:focus{
        background: #26B8F3 ;
    }
    </style>

{% endblock css_links %}

{% block content %}

    {% include "bayareaweddingfairs/site/home/_slider.html" %}

    <!-- WHAT WE DO -->
    <section class="background-grey">
        <div class="container">
            <div class="heading text-left">
                <h2 class="blue">WHAT WE DO</h2>
                <span class="lead">Planning , Shopping , Savings </span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box effect medium border center" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon">
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </div>
                        <h3>PLANNING</h3>
                        <p>Bay area wedding fairs is your portal to planning for your wedding day and beyond. At our shows, you will find everything you need from starting the planning process with budgeting, finding a wedding venue and bridal gown to booking wedding photographer, florist, caterer, dj and more.</p>
                    </div>
                    {#                        <div class="text-box" data-animation="fadeInUp" data-animation-delay="0">#}
                    {#                            <h4></h4>#}
                    {#                            #}
                    {#                        </div>#}
                </div>
                <div class="col-md-4">
                    <div class="icon-box effect medium border center" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon">
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </div>
                        <h3>SHOPPING</h3>
                        <p>Our fairs are one stop shop for all your planning needs from beginning to end. From booking your venue to finalizing details before your wedding with wedding decor, gifts  favors and even help with honeymoon travel. Our preferred partner vendors are the cream of the crop! They exhibit at most of our shows and offer show specials. Make sure you attend their booths at our fairs and enter to win their season's grand prizes.</p>
                    </div>
                    {#                        <div class="text-box" >#}
                    {#                            <h4></h4>#}
                    {#                            <p>Our fairs are one stop shop for all your planning needs from beginning to end. From booking your venue to finalizing details before your wedding with wedding decor, gifts  favors and even help with honeymoon travel. Our preferred partner vendors are the cream of the crop! They exhibit at most of our shows and offer show specials. Make sure you attend their booths at our fairs and enter to win their season's grand prizes.</p>#}
                    {#                        </div>#}
                </div>
                <div class="col-md-4">
                    <div class="icon-box effect medium border center" data-animation="fadeInUp" data-animation-delay="200">
                        <div class="icon">
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </div>
                        <h3>SAVINGS</h3>
                        <p>Bay area wedding fairs is the only wedding fair in the bay area that offers las vegas getaways and thousands of dollars in wedding package prizes. With upto $10,000 wedding package and many discounts on wedding services and products. Plus the fun and adventure of a true fair shopping experience.</p>
                    </div>
                    {#                        <div class="text-box" data-animation="fadeInUp" data-animation-delay="400">#}
                    {#                            <h4></h4>#}
                    {#                            <p>Bay area wedding fairs is the only wedding fair in the bay area that offers las vegas getaways and thousands of dollars in wedding package prizes. With upto $10,000 wedding package and many discounts on wedding services and products. Plus the fun and adventure of a true fair shopping experience.</p>#}
                    {#                        </div>#}
                </div>
            </div>
        </div>
    </section>
    <!-- END WHAT WE DO -->

    <!-- WELCOME -->
{#    <section class="p-b-0">#}
{#        <div class="container">#}
{#            <div class="heading heading-center m-b-40">#}
{#                <h2 class="blue">ENTERTAINMENT, FUN & PRIZES</h2>#}
{#                <span class="lead"> ... FOR YOUR ENTIRE WEDDING PARTY</span>#}
{#            </div>#}
{#            <div class="row" data-animation="fadeInUp">#}
{#                <div class="col-md-12">#}
{#                    <img class="img-responsive" src="http://bayareaweddingfairs.com/wp-content/uploads/2014/09/LEGSslider1-e1490226766692.jpg" alt="Welcome to POLO">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- END: WELCOME -->

    <!-- SECTION PARALLAX -->
      <section class="parallax p-t-150 p-b-150 background-overlay-dark" style="background: url('{% static 'bawf/images/LEGSslider1-e1490226766692.jpg' %}');background-attachment: fixed !important;background-position: 0px 0px !important;" data-stellar-background-ratio="0.01">
        <div class="container clearfix">

            <div class="col-md-12 text-center text-light">
{#				<hr class="space">#}
				<h1 class="heading-jumbo">ENTERTAINMENT, FUN & PRIZES</h1>
				<p class="lead">... FOR YOUR ENTIRE WEDDING PARTY</p>
				<a class="button border full-rounded  color button-3d effect icon-left" href="#fairs-section" style="margin-right:0px;">
                    <span><i class="fa fa-tint"></i>FIND A FAIR NEAR YOU</span>
                </a>
            </div>


        </div>
      </section>
<!-- END: SECTION PARALLAX -->



    <!-- COUNTERS -->
    <section class="parallax text-light p-t-150 p-b-150 background-overlay" style="background-image: url(https://dlzm0e7zegsau.cloudfront.net/static/bawf/theme/images/2560x1440-davys-grey-solid-color-background.jpg);" data-stellar-background-ratio="0.6">
        <div class="container">
            <h3 class="text-center">SINCE 2002, AT BAY AREA WEDDING FAIRS</h3>
            <hr class="space">
            <div class="row">
                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-trophy"></i></div>
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="11034" data-from="600" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>COUPLES WON PRIZES</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-hand-peace-o"></i></div>
                        <div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="15827" data-from="100" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>WEDDING PROFESSIONALS HAVE EXHIBITED</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-dollar"></i></div>
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="1600500" data-from="50" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>$ IN WEDDING PRIZES, DISCOUNTS & FREE TRAVEL</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-cutlery"></i></div>
                        <div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="352023" data-from="48" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>SAMPLES OF FOOD AND WINE SAMPLES SERVED</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: COUNTERS -->

    <!-- Testimonial Transparent  -->
    <section class="text-light" style="background: url('http://bayareaweddingfairs.com/wp-content/uploads/2014/09/new1.jpg');" data-stellar-background-ratio="0.4">
        <div class="container">
            <h1 class="heading-jumbo text-center">WHAT THEY SAY</h1>
            {#                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo.</p>#}
            <hr class="space">
            <!-- Testimonial Simple -->
            <div class="row">
                <div class="col-md-4 carousel" data-carousel-col="1">

                    <div class="testimonial testimonial-simple">
                        <div class="testimonial-image">
                            <img class="round" src="http://bayareaweddingfairs.com/wp-content/uploads/2014/09/c1.png" alt="image">
                            <h4>Regina & P.J.</h4>
                        </div>

                        <div class="testimonial-description">
                            <p>" We found everything from venues, flowers to photography and video at Bay Area Wedding Fairs. Its a great resource. "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">
                        <div class="testimonial-image">
                            <img class="round" src="http://bayareaweddingfairs.com/wp-content/uploads/2014/09/c2.jpg" alt="image">
                            <h4>Jillian and Joe</h4>
                        </div>
                        <div class="testimonial-description">
                            <p>" Thank you for making our Dream Wedding come true ! Bay Area Wedding Fairs is No. 1 "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">

                        <div class="testimonial-image">
                            <img class="round" src="http://bayareaweddingfairs.com/wp-content/uploads/2014/09/Untitled6.jpg" alt="image">
                            <h4>Bride to be</h4>
                        </div>
                        <div class="testimonial-description">

                            <p>" I would highly recommend Bay Area Wedding Fairs. You get ideas, style and meet vendors you have not imagined. Just come and enjoy! "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">

                        <div class="testimonial-image">
                            <img class="round" src="http://bayareaweddingfairs.com/wp-content/uploads/2014/09/Untitled-3.jpg" alt="image">
                            <h4>Kate & Ryan</h4>
                        </div>
                        <div class="testimonial-description">

                            <p>" A whole bunch prizes at the Bay Area Wedding Fairs. We won the $10,000 Wedding Package. Still cant believe it. It has everything ! "</p>
                        </div>
                    </div>

                    <div class="testimonial testimonial-simple">

                        <div class="testimonial-image">
                            <img class="round" src="http://bayareaweddingfairs.com/wp-content/uploads/2014/09/c7.jpg" alt="image">
                            <h4>Erika & Jared</h4>
                        </div>
                        <div class="testimonial-description">

                            <p>" There is a lots of giveaways, vendors, food. And we won Las Vegas stay..Yaay!  "</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END: Testimonial Simple -->
        </div>
    </section>
    <!-- END: Testimonial Transparent -->

    <!-- youtube videos-->
    <section class="background-grey">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">YOUTUBE VIDEOS</h2>
                {#                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>#}
            </div>
            <div data-lightbox-type="gallery" class="row">
                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/Auz02ypxOWI/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=Auz02ypxOWI" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                            {#                            <h3>YouTube video</h3>#}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/3j-ye_z_SFA/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=3j-ye_z_SFA" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                            {#                            <h3>YouTube video</h3>#}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/b0atolvkOI4/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=b0atolvkOI4" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                            {#                            <h3>YouTube video</h3>#}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/6ZHf2C7QDLo/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=6ZHf2C7QDLo" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                            {#                            <h3>YouTube video</h3>#}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/DfEAjrOlCOU/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=DfEAjrOlCOU" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                            {#                            <h3>YouTube video</h3>#}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="featured-box">
                        <div class="effect social-links"> <img src="https://img.youtube.com/vi/LQvSRYNp2ZI/mqdefault.jpg" alt="image" />
                            <div class="image-box-content">
                                <p> <a href="https://www.youtube.com/watch?v=LQvSRYNp2ZI" data-lightbox-type="iframe"><i class="fa fa-play"></i></a> </p>
                            </div>
                        </div>
                        <div class="image-box-description">
                            {#                            <h3>YouTube video</h3>#}
                        </div>
                    </div>
                </div>

            </div>

            <div class="row text-center">
                <a class="button border full-rounded" href="https://www.youtube.com/channel/UCZ3gKBXXRkqWQqyVh-OCXxg" target="_blank"><span>More Video</span></a>
            </div>

        </div>

    </section>
    <!--End Youtube videos-->

    <!-- SECTION -->
        <section id="fairs-section">
            <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">UPCOMING EVENTS</h2>
{#                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>#}
            </div>
                <!--Addresses-->
                <div class="row m-b-60">
                    <div class="col-md-12">
                        {% for event_list in events %}
                            {% if event_list %}
                                <h3>{{ event_list.0.date|date:"M" }}</h3>
                                <div class="list-group">
                                    {% for event in event_list %}
                                        <a onclick="get_information('{{ event.id }}');" style="cursor: pointer" class="list-group-item">
                                            <div class="col-md-2" style="margin-top:12px;">
                                                {{ event.date }}
                                            </div>
                                            <div class="col-md-10">
                                                <h4 class="list-group-item-heading">{{ event.name }}</h4>
                                                <p class="list-group-item-text">{{ event.location }}</p>
                                            </div>
                                            <span class="clearfix"></span>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!--END: Addresses-->
            </div>
        </section>
        <!-- END: SECTION -->

      <!-- SECTION PARALLAX -->
      <section class="parallax p-t-150 p-b-150 background-overlay-dark" style="background: url('{% static 'bawf/images/g_gate.jpg' %}'); background-attachment: fixed !important;background-position: 0px 0px !important;" data-stellar-background-ratio="0.01" >
        <div class="container clearfix">

            <div class="col-md-6 text-center text-light">
{#				<hr class="space">#}
				<h1>WEDDING PROFESSIONALS</h1>
                    <a class="button border full-rounded  color button-3d effect icon-left" href="http://bayareaweddingfairs.com/become-an-exhibitor/"><span>BECOME AN EXHIBITOR</span></a>
                    <p class="lead">MEET OUR AWESOME COUPLES</p>
            </div>

            <div class="col-md-6 text-center text-light">
{#				<hr class="space">#}
				 <h1>BRIDES & GROOMS</h1>
                    <a class="button border full-rounded  color button-3d effect icon-left" href="http://bayareaweddingfairs.com/our-events/"><span>FIND A WEDDING FAIR NEAR YOU</span></a>
                    <p class="lead">GET YOUR TICKET TO WINNING<br/>

                        SHOPPING & PLANNING</p>
            </div>


        </div>
      </section>
<!-- END: SECTION PARALLAX -->

    <!-- SECTION PARALLAX -->
{#      <section class="parallax p-t-50 p-b-50 background-overlay-dark" style="background: url('{% static 'bawf/images/9.top_.jpg' %}');" data-stellar-background-ratio="0.10">#}
{#        <div class="container clearfix">#}
{##}
{#            #}
{##}
{##}
{#        </div>#}
{#      </section>#}
<!-- END: SECTION PARALLAX -->

{#    <section class="background-grey p-b-0 p-t-20 m-t-20">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-6 text-center">#}
{#                    <h1>WEDDING PROFESSIONALS</h1>#}
{#                    <a class="button border full-rounded" href="http://bayareaweddingfairs.com/become-an-exhibitor/"><span>BECOME AN EXHIBITOR</span></a>#}
{#                    <p class="lead">MEET OUR AWESOME COUPLES</p>#}
                    {#                        <a class="button rounded color button-3d effect icon-left" href="#" style="margin-right:0px;"><span><i class="fa fa-tint"></i>Learn more</span></a>#}
{#                </div>#}
{#                <div class="col-md-6 text-center">#}
{#                    <h1>BRIDES & GROOMS</h1>#}
{#                    <a class="button border full-rounded" href="http://bayareaweddingfairs.com/our-events/"><span>FIND A WEDDING FAIR NEAR YOU</span></a>#}
{#                    <p class="lead">GET YOUR TICKET TO WINNING<br/> SHOPPING & PLANNING</p>#}
                    {#                        <a class="button rounded color button-3d effect icon-left" href="#" style="margin-right:0px;"><span><i class="fa fa-tint"></i>Learn more</span></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}



    <!-- TEAM -->
    <section class="background-grey">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">SHOP PARTNER VENDORS</h2>
{#                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>#}
            </div>
            <div class="row">
                {% for shopItem in vendorShopsList %}
                    <div class="col-md-3">
                        <div class="image-box circle-image small"> <img class="" src="{% static shopItem.shop.shopVendorImage.url %}" alt=""> </div>
                        <div class="image-box-description text-center">
                            <p class="subtitle">{{ shopItem.shop }}</p>
                            <hr class="line">
                            {% for item in shopItem.itemsList %}
                                <a href="{% url 'index__storefrontItemDetail' id=item.id %}">{{ item }}</a><br />
                            {% endfor %}


                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- END: TEAM -->

    <!-- CLIENTS -->
    <section class="p-t-60">
        <div class="container">
            <div class="heading heading-center">
                <h2 class="blue">OUR PARTNERS</h2>
                <span class="lead">Our awesome clients we've had the pleasure to work with! </span>
            </div>                <div class="carousel clients-carousel" data-carousel-col="6" data-carousel-margins="60" data-carousel-col-xs="2" data-carousel-autoplay="true">
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2017/01/eivans-color.png"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/legrand-1.jpg"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/levis-1.jpg"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/wedding-wire-1.jpg"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/jos-a-bank.jpg"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/yapojay-1.jpg"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/MW-1.jpg"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="http://bayareaweddingfairs.com/wp-content/uploads/2016/01/today-bride-1.jpg"> </a>
            </div>
            {#                    <div>#}
            {#                        <a href="#"><img alt="" src="{% static "bawf/images/clients/9.png" %}"> </a>#}
            {#                    </div>#}
        </div>
        </div>

    </section>
    <!-- END: CLIENTS -->

    {% include "bayareaweddingfairs/site/ourShows/_detail.html" %}

{% endblock content %}

{% block jquery_links %}

    <!--Pages Plugin Links Goes Here-->
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/source/revolution.extension.carousel.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/source/revolution.extension.navigation.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/jquery.themepunch.enablelog.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/revolution.extension.video.min copy.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bawf/theme/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js" %}"></script>

{% endblock jquery_links %}

{% block jquery_page_scripts %}

    <!--Pages Plugin Links Goes Here-->
    <script type="text/javascript">
        var tpj = jQuery;

        var revapi30;
{#        tpj(document).ready(function() {#}
{#            if (tpj("#rev_slider_30_1").revolution == undefined) {#}
{#                revslider_showDoubleJqueryError("#rev_slider_30_1");#}
{#            } else {#}
{#                revapi30 = tpj("#rev_slider_30_1").show().revolution({#}
{#                    sliderType: "standard",#}
{#                    jsFileLocation: "bawf/theme/vendor/rs-plugin/js/",#}
{#                    sliderLayout: "fullscreen",#}
{#                    dottedOverlay: "none",#}
{#                    delay: 9000,#}
{#                    navigation: {#}
{#                        keyboardNavigation: "off",#}
{#                        keyboard_direction: "horizontal",#}
{#                        mouseScrollNavigation: "off",#}
{#                        onHoverStop: "on",#}
{#                        touch: {#}
{#                            touchenabled: "on",#}
{#                            swipe_threshold: 75,#}
{#                            swipe_min_touches: 50,#}
{#                            swipe_direction: "horizontal",#}
{#                            drag_block_vertical: false#}
{#                        },#}
{#                        arrows: {#}
{#                            style: "hermes",#}
{#                            enable: true,#}
{#                            hide_onmobile: true,#}
{#                            hide_under: 600,#}
{#                            hide_onleave: true,#}
{#                            hide_delay: 200,#}
{#                            hide_delay_mobile: 1200,#}
{#                            tmp: '<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div>	<div class="tp-arr-titleholder">{{title}}</div>	</div>',#}
{#                            left: {#}
{#                                h_align: "left",#}
{#                                v_align: "center",#}
{#                                h_offset: 0,#}
{#                                v_offset: 0#}
{#                            },#}
{#                            right: {#}
{#                                h_align: "right",#}
{#                                v_align: "center",#}
{#                                h_offset: 0,#}
{#                                v_offset: 0#}
{#                            }#}
{#                        }#}
{#                    },#}
{#                    responsiveLevels: [1240, 1024, 778, 480],#}
{#                    visibilityLevels: [1240, 1024, 778, 480],#}
{#                    gridwidth: [1240, 1024, 778, 480],#}
{#                    gridheight: [868, 768, 960, 720],#}
{#                    lazyType: "smart",#}
{#                    shadow: 0,#}
{#                    spinner: "off",#}
{#                    stopLoop: "off",#}
{#                    stopAfterLoops: -1,#}
{#                    stopAtSlide: -1,#}
{#                    shuffle: "off",#}
{#                    autoHeight: "off",#}
{#                    fullScreenAutoWidth: "off",#}
{#                    fullScreenAlignForce: "off",#}
{#                    fullScreenOffsetContainer: "",#}
{#                    fullScreenOffset: "",#}
{#                    disableProgressBar: "on",#}
{#                    hideThumbsOnMobile: "off",#}
{#                    hideSliderAtLimit: 0,#}
{#                    hideCaptionAtLimit: 0,#}
{#                    hideAllCaptionAtLilmit: 0,#}
{#                    debugMode: false,#}
{#                    fallbacks: {#}
{#                        simplifyAll: "off",#}
{#                        nextSlideOnWindowFocus: "off",#}
{#                        disableFocusListener: false,#}
{#                    }#}
{#                });#}
{#            }#}
{#        }); /*ready*/#}
        function get_information(event_id){
            $.ajax({
                url: "/our-events/",
                type: "POST",
                data: {
                    'event_id': event_id,
                },

                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    console.log(obj.image)
                    $('#show_reg_id').attr('href','{% url "index__bride_groom_registration" %}'+'?show='+obj.id)
                    $('#updates').html(obj.description)
                    $('#show-name').html(obj.name)
                    $('#show-location').html(obj.date+' | '+obj.location)
                    $('#location-id').html(obj.location)
                    $('.map').attr('data-map-address',obj.location)
                    $('#date-time-id').html(obj.date)
{#                    $(".map").val(obj.location).trigger("geocode");#}
                    $('#show-image').attr('src',obj.image)
                    $('#grand').html(obj.description_grand)
                    $('#modal-detail').modal('show')
                    google.maps.event.trigger($('.map'));
                },

                error: function(error) {
                    console.log("error: "+error.message);

                }
            })
        }

        $(document).ready(function(){
            $("#slider-carousel").owlCarousel({
                autoplayTimeout:20000
            });
        });
    </script>

{% endblock jquery_page_scripts %}