{% extends 'bayareaweddingfairs/site/base/base_inner_layout.html' %}
{% load static %}

{% block title %}
    Bay Area WeddingFairs | Our Shows
{% endblock title %}

{% block css_links %}
    <style>
        .white {
            color: white;
        }
    </style>
{% endblock css_links %}

{% block content %}

    <!-- WRAPPER -->
    <div class="wrapper">


       <!-- PAGE TITLE -->
<section id="page-title" class="page-title-parallax page-title-center" style="background-color: #ba8c00"
{#         style="background-image:url('https://s3-us-west-1.amazonaws.com/bayareaweddingfairs-static/media/images/siteImagesMin/slider-cake-back-min.jpg');"#}
>
	<div class="container">
		<div class="page-title col-md-8">
			<h1 class="white">UPCOMING EVENTS</h1>
			<span class="white">Bay Area Wedding Fairs</span>
		</div>
	</div>
</section>
<!-- END: PAGE TITLE -->

<!-- SECTION -->
<section>
	<div class="container">
		<!--Addresses-->
		<div class="row m-b-60">
			<div class="col-md-12">
                {% for event_list in events %}
                    {% if event_list %}
				<h3>{{ event_list.0.date|date:"M" }}</h3>
				<div class="list-group">
                {% for event in event_list %}
					<a data-target="#modal-3" data-toggle="modal" href="#" class="list-group-item">
                        <div class="col-md-2" style="margin-top:12px;">
                            {{ event.date }}
                        </div>
                        <div class="col-md-10">
                            <h4 class="list-group-item-heading">{{ event.name }}</h4>
                            <p class="list-group-item-text">{{ event.location }}</p>
                        </div>
                    <span class="clearfix"></span>
					</a>
                    {% endfor %}
				</div>
                    {% endif %}
                {% endfor %}
			</div>
		</div>
		<!--END: Addresses-->
	</div>
</section>
<!-- END: SECTION -->

    <div class="modal fade" id="modal-3" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 id="modal-label-3" class="modal-title">Large Modal</h4>
			</div>
			<div class="modal-body">
				<div class="row mb20">
					<div class="col-sm-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 xs-box" id="updates">

					</div>
					<div class="col-sm-6" id="grand">

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
				<button class="btn btn-b" type="button">Save Changes</button>
			</div>
		</div>
	</div>
</div>

    </div>
    <!-- END: WRAPPER -->
    <!-- GO TOP BUTTON -->
{% endblock content %}