{% load static %}
<footer class="background-dark text-grey" id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-logo float-left">
                                <img width="200px;" src="{% static "bawf/images/logo-letters.png" %}">
                            </div>
{#                            <p style="margin-top: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.#}
{#                            </p>#}

                        </div>
                    </div>
                    <div class="seperator seperator-dark seperator-simple"></div>
                    <div class="row">


                        <div class="col-md-4">
                            <div class="widget clearfix widget-contact-us" style="background-image: url('{% static "bawf/images/world-map.png" %}'); background-position: 0px 0px; background-repeat: no-repeat; background-size: 100%;">
                                <h4 class="widget-title">Contact us</h4>
                                <ul class="list-large list-icons">
                                    <li><i class="fa fa-map-marker"></i>
                                        <strong>Address:</strong> 2600 Kitty Hawk Rd,
                                        <br>Livermore, CA 94551</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
{#                                    <li>&nbsp;</li>#}
{#                                    <li>&nbsp;</li>#}

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget clearfix ">
                                 <h4 class="widget-title">Phone</h4>
                                 <ul class="list-large list-icons">
                                    <li><i class="fa fa-phone"></i><strong>Phone:</strong> (925) 594-2969 </li>
                                    <li><i class="fa fa-envelope"></i><strong>Email:</strong> <a href="mailto:info@bayareaweddingfairs.com">info@bayareaweddingfairs.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
{##}
                        <div class="col-md-4">
                            <div class="widget clearfix widget-newsletter">
                                <form id="widget-subscribe-form" action="{% url "index__our_events" %}" role="form" method="post" class="form-inline">
                                    <h4 class="widget-title">Subscribe</h4>
                                    <small>Stay informed on our latest news!</small>
                                    <div class="col-md-12">

						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="bridegroom" checked=""> Bride / Groom </label>
						</div><br />
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="weddingprofessional"> Wedding Professional </label>
						</div>
					</div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                                        <input type="email" aria-required="true" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                        <span class="input-group-btn">
											<button type="submit" id="widget-subscribe-submit-button" class="btn btn-primary">Subscribe</button>
										</span>
                                    </div>
                                </form>

                            </div>

                        </div>



                    </div>


                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="copyright-text col-md-6"> &copy; Copyright 2002 BayAreaWeddingFairs | All Rights Reserved
                        </div>
                        <div class="col-md-6">
                            <div class="social-icons">
                                <ul>
                                    <li class="social-facebook"><a target="_blank" href="https://www.facebook.com/baweddingfairs/"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social-twitter"><a target="_blank" href="https://twitter.com/baweddingfairs/"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social-google"><a target="_blank" href="https://www.youtube.com/channel/UCZ3gKBXXRkqWQqyVh-OCXxg"><i class="fa fa-youtube"></i></a></li>
{#                                    <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#                                    <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>#}
{#                                    <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                                    <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#                                    <li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
{#                                    <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>