{% load static %}
{% load humanize %}
<style>
    .header-1 {
        height: 40px !important;
    }
    .vd_mega-menu-content::before {
        -moz-border-color: none;
        border-color: transparent transparent #07A6C3;
        border-image: none;
        border-style: solid;
        border-width: 5px;
        content: "";
        display: block;
        height: 0;
        opacity: 1;
        width: 0;
        position: absolute;
        top: -12px;
    }
</style>
<header class="header-1" id="header" style="height: 40px !important;">
            <div class="vd_top-menu-wrapper" style="background-color: rgb(7, 160, 195);height:40px;">
                <div class="container ">
                    <div class="vd_top-nav vd_nav-width  ">
                        <div class="vd_panel-header">
                            <div class="logo">

                                <a href="/" class="" style="margin-top: 8px;"><img alt="logo"  src="{% static "images/logo/logo.png" %}" style="height: 26px;"></a>
                            </div>
                            <div style="top:5px !important;" class="vd_panel-menu left-pos visible-sm visible-xs">

                                    <span class="menu" data-action="toggle-navbar-left" style="background-color: #07A6C3;">
                                        <i class="fa fa-reorder" style="color: white;"></i>
                                    </span>


                        </div>
{##}
{#                            </div>#}
                            <!-- vd_panel-menu -->
                        </div>
                        <!-- vd_panel-header -->

                    </div>

                    <div class="vd_container">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12 pull-right">
                                <div class="vd_mega-menu-wrapper">
                                    <div class="vd_mega-menu pull-right">
                                        <ul class="mega-ul">

                                            <li id="top-menu-profile" class="profile mega-li">
                                                <a href="/" class="mega-link" data-action="click-trigger">
                                                <span class="mega-image" style="height: 18px;">
                                                    <img src="{{ request.user.userprofile.get_image_url }}" style="margin-top: -6px;max-height: 26px;" alt="profile image"/>
                                                </span>
                                                <span class="mega-name" style="margin-top: -6px;">
                                                    {{ request.user.get_full_name }} <i class="fa fa-caret-down fa-fw"></i>
                                                </span>
                                                </a>

                                                <div class="vd_mega-menu-content  width-xs-2  left-xs left-sm"
                                                     data-action="click-target">
                                                    <div class="child-menu">
                                                        <div class="content-list content-menu">
                                                            <ul class="list-wrapper pd-lr-10">
{#                                                                <li><a href="/profile/">#}
{#                                                                    <div class="menu-icon"><i class=" fa fa-user"></i>#}
{#                                                                    </div>#}
{#                                                                    <div class="menu-text">Profile</div>#}
{#                                                                </a></li>#}
{#                                                                <li><a href="/settings/">#}
{#                                                                    <div class="menu-icon"><i class=" fa fa-cogs"></i>#}
{#                                                                    </div>#}
{#                                                                    <div class="menu-text">Settings</div>#}
{#                                                                </a></li>#}
                                                                {% if id %}
                                                                 <li><a href="{% url "support" %}">
                                                                    <div class="menu-icon"><i class=" fa fa-support"></i>
                                                                    </div>
                                                                    <div class="menu-text">Support</div>
                                                                </a></li>

                                                                    <li><a href="{% url "settings" %}">
{#                                                                            <li><a href="/settings/">#}
                                                                            <div class="menu-icon"><i class=" fa fa-cogs"></i>
                                                                            </div>
                                                                            <div class="menu-text">Settings</div>
                                                                    </a></li>
                                                                {% endif %}


                                                                <li class="line"></li>



                                                                <li><a href="/logout/">
                                                                    <div class="menu-icon"><i
                                                                            class=" fa fa-sign-out"></i></div>
                                                                    <div class="menu-text">Logout</div>
                                                                </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>


                                        </ul>
                                        <!-- Head menu search form ends -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- container -->
            </div>
            <!-- vd_primary-menu-wrapper -->

        </header>
<script src="{% static "vendroid/js/jquery.js" %}"></script>
