{% extends 'base.html' %}
{% load static %}

{% block content %}


            <section class="seating-section">
    <div class="col-md-10 col-md-offset-1 left-col">
        <img src="{% static "images/seatingChartTemp.png" %}" alt="">
        </div>
    </section>


<script>
var imgArray = new Array("https://s3-us-west-2.amazonaws.com/yapjoyimages/images/company1.png","https://s3-us-west-2.amazonaws.com/yapjoyimages/images/company2.png","https://s3-us-west-2.amazonaws.com/yapjoyimages/images/company3.png");
var imgCount = 0;
function startTime() {
    if(imgCount == imgArray.length) {
        imgCount = 0;
    }
    document.getElementById("ad").src = imgArray[imgCount];
    imgCount++;
    setTimeout("startTime()", 5000);
}
</script>
{% endblock content %}
{% block jquery %}



{% endblock %}
