{% load static %}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html><!--<![endif]-->

<!-- Specific Page Data -->

<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>YapJoy - An Intelligent Way to Plan Stress Free Wedding online</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid" />
    <meta name="description" content="404 Error Pages - Responsive Admin HTML Template">
    <meta name="author" content="Venmond">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "vendriod/img/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "vendroid/img/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "vendroid/img/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "vendroid/img/ico/apple-touch-icon-57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="{% static "vendroid/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "vendroid/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="{% static "vendroid/css/font-awesome-ie7.min.css" %}"><![endif]-->
    <link href="{% static "vendroid/css/font-entypo.css" %}" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="{% static "vendroid/css/fonts.css" %}"  rel="stylesheet" type="text/css">


    <!-- Specific CSS -->


    <!-- Theme CSS -->
    <link href="{% static "vendroid/css/theme.min.css" %}" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="{% static "vendroid/css/ie.css" %}" rel="stylesheet" > <![endif]-->
    <link href="{% static "vendroid/css/chrome.css" %}" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->



    <!-- Responsive CSS -->
    <link href="{% static "vendroid/css/theme-responsive.min.css" %}" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->

    <!-- for specific page responsive in style css -->


    <!-- Custom CSS -->
    <link href="{% static "vendroid/custom/custom.css" %}" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="{% static "vendroid/js/modernizr.js" %}"></script>
    <script type="text/javascript" src="{% static "vendroid/js/mobile-detect.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendorid/js/mobile-detect-modernizr.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{% static "vendroid/js/html5shiv.js" %}"></script>
      <script type="text/javascript" src="{% static "vendroid/js/respond.min.js" %}"></script>
    <![endif]-->

</head>

<body id="pages" class="full-layout no-nav-left no-nav-right  nav-top-fixed background-login     responsive remove-navbar login-layout   clearfix" data-active="pages "  data-smooth-scrolling="1">
<div class="vd_body">
    <!-- Header Start -->

    <!-- Header Ends -->
    <div class="content">
        <div class="container">

            <!-- Middle Content Start -->

            <div class="vd_content-wrapper">
                <div class="vd_container">
                    <div class="vd_content clearfix">
                        <div class="vd_content-section clearfix">
                            <div class="vd_register-page">
                                <div class="heading clearfix">
                                    <div class="logo">
                                        <h2 ><img width="50%" src="{% static "images/unnamed_2.png" %}" alt="logo"></h2>
                                    </div>
                                </div>
                                <div class="panel widget">
                                    <div class="panel-body">
                                        <div class="login-icon"> <i class="fa fa-cog"></i> </div>
                                        <h1 class="font-semibold text-center" style="font-size:52px">Please wait</h1>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <h4 class="text-center mgbt-xs-20">redirecting.</h4>
                                                <p class="text-center"> Please <a href="https://www.yapjoy.com/">click here</a> to go back to Yapjoy.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Panel Widget -->
                            </div>
                            <!-- vd_login-page -->

                        </div>
                        <!-- .vd_content-section -->

                    </div>
                    <!-- .vd_content -->
                </div>
                <!-- .vd_container -->
            </div>
            <!-- .vd_content-wrapper -->

            <!-- Middle Content End -->

        </div>
        <!-- .container -->
    </div>
    <!-- .content -->

    <!-- Footer Start -->
    <footer class="footer-2"  id="footer">
        <div class="vd_bottom ">
            <div class="container">
                <div class="row">
                    <div class=" col-xs-12">
                        <div class="copyright text-center">
                            Copyright &copy;2014 Venmond Inc. All Rights Reserved
                        </div>
                    </div>
                </div><!-- row -->
            </div><!-- container -->
        </div>
    </footer>
    <!-- Footer END -->

</div>

<script src="{% static "bawf/theme/vendor/jquery/jquery-1.11.2.min.js" %}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98442830-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    $(document).ready(function(){
        data = {'path_record':window.location.pathname,}
        $.ajax({
            url:'/save_404_path/',
            type:"POST",
            data:data,
            {#          contentType:"application/json; charset=utf-8",#}
            {#          dataType:"json",#}
            success: function(){
                console.log('done')
            }
        })
        window.location.href = "/"
    })
</script>

</body>
</html>