{% extends 'bayareaweddingfairs/site/base/base_inner_layout.html' %}
{% load static %}

{% block title %}
    Bay Area WeddingFairs | Our Shows
{% endblock title %}

{% block css_links %}
    <style>
        .white {
            color: white;
        }
        .map_canvas {
            width: 100%;
            height: 200px;
        }
    </style>
{% endblock css_links %}

{% block content %}

    <!-- WRAPPER -->
    <div class="wrapper">


        <!-- PAGE TITLE -->
        <section id="page-title" class="page-title-parallax page-title-center" style="background-color: #cccccc;">
            <div class="container">
                <div class="page-title col-md-8">
                    <h1 style="color: #26B8F3 !important;">UPCOMING EVENTS</h1>
                    <span class="white">Bay Area Wedding Fairs</span>
                </div>
            </div>
        </section>
        <!-- END: PAGE TITLE -->

        <!-- SECTION -->
        <section>
            <div class="container">
                <!--Addresses-->
                <div class="row m-b-60">
                    <div class="col-md-12">
                        {% include "bayareaweddingfairs/site/ourShows/_shows.html" %}
                    </div>
                </div>
                <!--END: Addresses-->
            </div>
        </section>
        <!-- END: SECTION -->

    {% include "bayareaweddingfairs/site/ourShows/_detail.html" %}

    </div>
    <!-- END: WRAPPER -->
    <!-- GO TOP BUTTON -->
{% endblock content %}
{% block jquery_links %}
    <script type="text/javascript" src="{% static "bawf/js/events.js" %}"></script>
{#    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAZ81l7-k3NInBxNphO_KTIB0gKVksH_o4"></script>#}
{% endblock jquery_links %}
{% block jquery_page_scripts %}
{% endblock jquery_page_scripts %}
