{% extends 'bayareaweddingfairs/site/base/home_base.html' %}
{% load static %}

{% block title %}
    Bay Area WeddingFairs | Inner Page
{% endblock title %}

{% block css_links %}
{% endblock css_links %}

{% block content %}
    <!--Page Content Starts--->

    <!--End Page Content-->
{% endblock content %}

{% block jquery_links %}
    <!--Pages Plugin Links Goes Here-->

{% endblock jquery_links %}

{% block jquery_page_scripts %}
    <!--Pages Plugin Links Goes Here-->
    
{% endblock jquery_page_scripts %}