.page-title-parallax {
    height: auto !important;
}
@media only screen
and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px)
{
    .page-title-parallax {
        height: auto !important;
    }
}
#header, #header-wrap, #logo img, #header.header-sticky:not(.header-static) nav#mainMenu ul.main-menu, #mainMenu > ul, #header.header-sticky:not(.header-static) .nav-main-menu-responsive, #header .side-panel-button {
    height: 80px;
}