{% extends 'base.html' %}
{% load static %}
{% load fullcalendar_tags %}
{% block tags %}


    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>#}
{% endblock %}
{% block jquery-min %}
{% endblock jquery-min %}
{% block header_tags %}



{% endblock header_tags %}
{% block content %}

    {% fullcalendar_css %}
        {% fullcalendar_print_css %}
{% fullcalendar_jquery %}
        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}
    {% calendar_init calendar_config_options  %}
    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 left-col">
                    <section class="events-section">
                        {% include 'events/partial/_sidebar.html' %}
                    </section>
                </div>
                <div class="col-md-9 margin-top-10">
                    {% calendar %}
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}" />
     <script type="text/javascript" src="{% static 'js/jquery.events.js' %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.yiilistview.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-i18n.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.datetimepicker.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/chosen.jquery.min.js" %}"></script>




    <script type="text/javascript">

    jQuery('.startpicker').datetimepicker(jQuery.extend({showMonthAfterYear:false}, jQuery.datepicker.regional[''], { format:'Y-m-d H:i',}));
    jQuery('.endpicker').datetimepicker(jQuery.extend({showMonthAfterYear:false}, jQuery.datepicker.regional[''], {format:'Y-m-d H:i',}));

        if($("#to").length > 0){
            $("#to").chosen();
        }
{#        $('#id_start').datepicker({'dateFormat':'mm/dd/yy'});#}
{#        $('#id_end').datepicker({'dateFormat':'mm/dd/yy'});#}
        {% if events_form.errors %}
            $("#addEventModal").modal('show');
        {% endif %}
    </script>
{% endblock content %}

{% block jquery %}




{% endblock %}
